body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }




/* start from here ------ */

.money-record{
  width: 100%;
}
.money-record .products-man{
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.money-record .order{
  margin: 0px 60px;
  color: #573605; 
  font-size: 24px;
  font-weight: bold;
}
.money-record .icon1{
  margin-left: -40px;
}
.money-record .icon2{
  margin-left: 20px;
}
.money-record .second{
  display: flex;
  margin: 40px 0px; 
  justify-content: space-between;
}
.money-record .search{
  display: flex;
  padding: 0px 60px;
}
.money-record .search input {
  border-radius: 20px 0px 0px 20px;
  border: none;
  width: 200px;
  height: 30px;background-color: #FCDBA3;
}
.money-record .search button{
  border-radius: 0px 20px 20px 0px;
  border: none;
  width: 35px;
  height: 30px; 
  background-color: #927858;
}
.money-record .page{
  padding: 0px 70px 0px 0px ;
}
.money-record .page .each{
  color:#927858;
  font-size: 18px;
}
.money-record select{
  border-radius: 10px; 
  background-color: #FCDBA3; 
  border: none;
  width: 50px;
  height: 25px;
}
.money-record table{
margin: auto;
width: 92%;
}
.money-record thead{
  height: 50px;
}

.money-record thead th{
  /* border: rgb(36, 6, 228) solid 2px; */
  text-align: start;
  width: 12.5%;
  font-size: 18px;
  color: #573605;
}

.money-record .white{
  background: #FFFFFF;
}

.money-record .whiteline{
  border-top: 1px solid #573605;
}

.money-record .yellow{
  background: #FFFAE7;
  
}
.money-record .white tr{
  height: 80px; 
}
.money-record tbody td{
  /* border: red solid 2px; */
  text-align: start;
  padding: 30px 0px;
  width: 12.5%;
  font-size: 18px;
  color: #573605;
}

.money-record tfoot td{
margin: auto;
padding: 40px 14px 40px 64px;
}

.money-record ::placeholder{
padding: 10px;
color: #927858;
font-size: 16px;
}

.money-record td a{
color:#927858; 
font-size: 18px;
display: block;
transform:translateY(20px);
transform:translateX(10px);
}
.money-record .pagelist{
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
  border:none;
  padding-top: 60px;
}

.money-record .pagelist a{
  text-decoration: none;
  background-color: #FCDBA3;
  color:#573605;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 40px;
  font-size: 16px;
}

.money-record .pagelist a:first-child{
  border-radius: 20px 0px 0px 20px;
}
.money-record .pagelist a:last-child{
  border-radius: 0px 20px 20px 0px;
}

.money-record .pagelist a:hover{
  background-color: #FDBF52;
}

/* end*/

