@charset "UTF-8";
body {
  background: #FFFAE7;
}

section {
  width: 90%;
  margin: auto;
  color: #573605;
  font-family: NotoSansTC, serif;
}

.diy p {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  height: 4em;
  font-size: 2em;
  color: rgba(248, 248, 248, 0.8);
  line-height: 140%;
  position: absolute;
  top: 35%;
  left: 37%;
}

.prod-bg {
  position: relative;
}

.prod {
  margin-top: 60px;
  position: relative;
}

.basicImage img {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #573605;
}

.frontImage {
  position: absolute;
  top: 31%;
  left: 29%;
  width: 43.5%;
  z-index: 10;
}

.animalImage {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.animalImage img {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #573605;
}

.prod-bg img {
  width: 100%;
}

.prod-sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.front {
  position: relative;
}

.pic {
  border-radius: 10px;
  width: 80px;
  height: 80px;
  text-align: center;
  position: relative;
  margin-right: 15px;
}

.frontType {
  position: absolute;
  top: 32.5%;
  left: 27.5%;
  z-index: 2;
  width: 38px;
}

.frontType img {
  width: 100%;
}

.frontAnimal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border: 1px solid #573605;
  border-radius: 10px;
}

.frontAnimal img {
  width: 100%;
  border-radius: 10px;
}

.back {
  position: relative;
}

.diySm {
  color: rgba(248, 248, 248, 0.8);
  position: absolute;
  top: 17%;
  left: 22%;
  z-index: 1;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  height: 4em;
  line-height: 140%;
}

.title h1 {
  font-size: 24px;
  margin: 15px 0;
  font-family: NotoSansTC;
}

.title span {
  font-size: 18px;
}

.select-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
}

h4 {
  font-size: 18px;
}

.select-type select {
  font-size: 18px;
  color: #573605;
  width: 100px;
  height: 40px;
  line-height: 36px;
  padding-left: 22px;
  border-radius: 20px;
  border: 1px solid #573605;
  margin-left: 15px;
  font-family: NotoSansTC, serif;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.select-type :after {
  content: "▼";
  position: absolute;
  font-size: 10px;
  top: 14px;
  left: 130px;
}

.typeIntro {
  font-size: 14px;
  color: #573605;
  margin-left: 30px;
  text-decoration: none;
  font-family: NotoSansTC, serif;
}

.select-wrap select {
  font-size: 18px;
  color: #573605;
  width: 100px;
  height: 40px;
  line-height: 36px;
  padding-left: 22px;
  border-radius: 40px;
  border: 1px solid #573605;
  margin-left: 15px;
  font-family: NotoSansTC, serif;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.select-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.zodiac {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.zodiac:after {
  content: "▼";
  font-size: 10px;
  top: 14px;
  left: 130px;
  position: absolute;
}

.amount {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.many {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modify {
  font-size: 24px;
  color: #573605;
  background-color: transparent;
  border: none;
}

.del {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.num {
  color: #573605;
  font-size: 18px;
  width: 40px;
  height: 40px;
  border-radius: 21px;
  border: 1px #573605 solid;
  text-align: center;
}

textarea {
  font-size: 14px;
  color: #573605;
  text-align: center;
  border: 1px solid #573605;
  font-family: NotoSansTC, serif;
}

.customiz h3 {
  font-size: 20px;
  margin-top: 30px;
}

.customiz textarea {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-radius: 22px;
  margin-top: 15px;
}

.shop {
  width: 100%;
  max-width: 500px;
  margin: 50px auto 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop button {
  width: 120px;
  height: 42px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  border: 0px;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #FDBF52;
  color: #573605;
  border-radius: 20px;
  color: transparent;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-family: NotoSansTC, serif;
}

.shop button::before {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  padding-top: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  color: rgba(255, 255, 255, 0.9);
  margin-top: -1em;
}

.shop button::after {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 10px;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #573605;
}

.shop button:hover::before {
  opacity: 1;
  margin-top: 0;
}

.shop button:hover::after {
  opacity: 0;
  margin-top: -1em;
}

.intro textarea {
  display: none;
}

.introWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.typeIntro-back button {
  width: 120px;
  height: 42px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  border: 0px;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #FDBF52;
  color: #573605;
  border-radius: 20px;
  color: transparent;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-family: NotoSansTC, serif;
}

.typeIntro-back button::before {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  padding-top: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  color: rgba(255, 255, 255, 0.9);
  margin-top: -1em;
}

.typeIntro-back button::after {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 10px;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #573605;
}

.typeIntro-back button:hover::before {
  opacity: 1;
  margin-top: 0;
}

.typeIntro-back button:hover::after {
  opacity: 0;
  margin-top: -1em;
}

.typeIntro {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: none;
  background: none;
  margin-left: 15px;
  margin-top: 24px;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 99;
  width: 80%;
  background-color: #fff;
  border-radius: 20px;
  padding: 25px;
}

.modal h1 {
  font-size: 24px;
  margin: 15px 0;
  font-family: NotoSansTC;
  font-weight: 700;
  margin-bottom: 15px;
}

.modal P {
  color: #573605;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 15px;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .diy p {
    font-size: 4em;
  }
}

@media screen and (min-width: 1024px) {
  .wrap {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1312px;
    margin: auto;
  }
  .prod {
    margin-right: 30px;
  }
  .prod-bg {
    width: 480px;
  }
  .prod-bg img {
    width: 100%;
  }
  .title {
    font-size: 28px;
  }
  .title span {
    font-size: 28px;
  }
  .customiz textarea {
    font-size: 16px;
    width: 100%;
    height: 90px;
    line-height: 90px;
    margin-top: 20px;
  }
  .select-typewrap a {
    display: none;
  }
  .intro textarea {
    font-size: 16px;
    width: 100%;
    height: 70px;
    line-height: 70px;
    border-radius: 20px;
    display: block;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  button {
    width: 180px;
    height: 42px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    border: 0px;
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #FDBF52;
    color: #573605;
    border-radius: 20px;
    color: transparent;
    position: relative;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    font-family: NotoSansTC, serif;
  }
  button::before {
    content: attr(data-hover);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0px;
    padding-top: 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    color: rgba(255, 255, 255, 0.9);
    margin-top: -1em;
  }
  button::after {
    content: attr(data-hover);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10px;
    opacity: 1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #573605;
  }
  button:hover::before {
    opacity: 1;
    margin-top: 0;
  }
  button:hover::after {
    opacity: 0;
    margin-top: -1em;
  }
  .diy p {
    font-size: 2.8em;
  }
  .mdIntro {
    display: none;
  }
}
/*# sourceMappingURL=amulet.css.map */