body {
  background: #FFFAE7;
}

section {
  width: 90%;
  margin: auto;
  color: #573605;
}

.prod {
  margin-top: 60px;
}

.prod-bg img {
  width: 100%;
}

.prod-sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.prod-sm .pic img {
  width: 70px;
  padding-right: 15px;
  padding-top: 15px;
}

.title h1 {
  font-size: 24px;
  margin: 15px 0;
  font-family: NotoSansTC;
}

.title span {
  font-size: 18px;
}

.select-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

h4 {
  font-size: 18px;
}

.select-type select {
  font-size: 18px;
  color: #573605;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #573605;
  margin-left: 15px;
}

.select-typewrap a {
  font-size: 14px;
  color: #573605;
  margin-left: 30px;
}

.select-wrap select {
  font-size: 18px;
  color: #573605;
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #573605;
  margin-left: 15px;
}

.select-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.zodiac {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.amount {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

textarea {
  font-size: 14px;
  color: #573605;
  text-align: center;
  border: 1px solid #573605;
}

.customiz textarea {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-radius: 22px;
  margin-top: 15px;
}

.shop {
  width: 100%;
  max-width: 400px;
  margin: 30px auto 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

button {
  width: 160px;
  height: 40px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #FDBF52;
  color: #573605;
  border-radius: 30px;
}

.intro textarea {
  display: none;
}

@media screen and (min-width: 1024px) {
  .wrap {
<<<<<<< HEAD
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto 100px auto;
=======
    width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 120px auto 120px auto;
>>>>>>> parent of 5e61aac (modify amulet and add button type)
  }
  .container {
    margin-left: 50px;
  }
  .prod-bg {
    width: 420px;
  }
  .prod-bg img {
    width: 100%;
  }
  .prod-sm .pic {
    width: 100px;
    padding-right: 15px;
  }
  .prod-sm .pic img {
    width: 100%;
  }
  .customiz textarea {
    width: 100%;
    max-width: 500px;
    height: 90px;
    line-height: 90px;
  }
  .select-typewrap a {
    display: none;
  }
  .intro textarea {
    width: 100%;
    max-width: 500px;
    height: 50px;
    line-height: 50px;
    border-radius: 20px;
    display: block;
    margin-bottom: 15px;
  }
}
/*# sourceMappingURL=amulet.css.map */