@font-face {
  font-family: NotoSansTC;
  src: url("../font/NotoSerifTC-Medium.otf");
}

@font-face {
  font-family: RocknRollOne;
  src: url("../font/RocknRollOne-Regular.ttf");
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #FFFAE7;
}

#mainheader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  background-color: rgba(255, 250, 231, 0.85);
  border-top: 3px solid #FDBF52;
}

.headerWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1312px;
  margin: auto;
  padding: 6px 20px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav ul li:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

header nav ul li:first-child a {
  padding-right: 15px;
  padding-left: 5px;
}

header .navPostion {
  position: absolute;
  background-color: rgba(255, 250, 231, 0.85);
  top: 100%;
  right: -30%;
  width: 30%;
  height: calc(100vh - 40px);
  border-top: 3px solid #FDBF52;
}

header nav li a {
  display: block;
  padding: 20px 20px;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 15;
      -ms-flex-positive: 15;
          flex-grow: 15;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

header .logo img {
  width: 35px;
  height: 25px;
}

header .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

header .cart img {
  width: 18.12px;
  height: 20px;
}

header .member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

header .logout {
  text-align: center;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  font-family: NotoSansTC, serif;
  font-size: 16px;
  text-decoration: none;
  color: #573605;
}

header .logout span:hover {
  cursor: pointer;
}

header .outerHb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

header .member img {
  width: 15.75px;
  height: 20px;
}

header nav a {
  font-family: NotoSansTC, serif;
  font-size: 14px;
  text-decoration: none;
  color: #573605;
}

header .outerHb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
}

header .hb {
  width: 18px;
  height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

header .hb span {
  width: 18px;
  height: 2.5px;
}

header .hb span:first-child {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

header .hb span:last-child {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

header .hb span {
  width: 18px;
  height: 2.5px;
  background-color: #573605;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
}

@media screen and (min-width: 375px) {
  header nav a {
    font-size: 16px;
  }
  header .cart {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  header .member {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  header .outerHb {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
}

@media screen and (min-width: 768px) {
  header .logo {
    -webkit-box-flex: 20;
        -ms-flex-positive: 20;
            flex-grow: 20;
  }
  header .cart {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  header .member {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  header .outerHb {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
}

@media screen and (min-width: 1024px) {
  header .logo img {
    width: 38.5px;
    height: 27.5px;
  }
  header .cart img {
    width: 19.932px;
    height: 22px;
  }
  header .member img {
    width: 17.325px;
    height: 22px;
  }
  header .hb {
    width: 19.8px;
    height: 15.4px;
  }
}

@media screen and (min-width: 1200px) {
  .headerWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1312px;
    margin: auto;
    padding: 7px 20px;
  }
  header nav ul {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  header nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header nav {
    -webkit-box-flex: 30;
        -ms-flex-positive: 30;
            flex-grow: 30;
  }
  header nav li a {
    padding: 0px 15px;
  }
  header .logo {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  header .logo img {
    width: 56px;
    height: 40px;
  }
  header .cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  header .cart img {
    width: 20px;
    height: 20px;
  }
  header .member {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  header .member img {
    width: 15px;
    height: 20px;
  }
  header nav a {
    font-family: NotoSansTC, serif;
    font-size: 16px;
    text-decoration: none;
    color: #573605;
  }
  header .outerHb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: none;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 5%;
  }
  header nav li a {
    display: block;
    padding: 10px 20px;
    position: relative;
  }
  header nav li a::before {
    -webkit-transition: all 0.8s cubic-bezier(0.7, -0.5, 0.2, 2);
    transition: all 0.8s cubic-bezier(0.7, -0.5, 0.2, 2);
    content: '';
    width: 0;
    height: 2px;
    background: #FDBF52;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  header nav li a:hover:before {
    background: #FDBF52;
    width: 60%;
  }
  .bottomnavline:before {
    background: #FDBF52;
    width: 60%;
  }
}
/*# sourceMappingURL=header.css.map */