body {
  background: #FFFAE7;
}

.slogan {
  width: 100%;
  height: 760px;
  background-image: url(../img/mainpage/sloganBg.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: RocknRollOne;
}

.slogan .sloganTitle {
  position: absolute;
  color: #FFFAE7;
  font-size: 36px;
  -webkit-animation: move-letter 2.5s linear forwards;
          animation: move-letter 2.5s linear forwards;
}

@media screen and (min-width: 768px) {
  .slogan .sloganTitle {
    font-size: 90px;
  }
}

@media screen and (min-width: 1024px) {
  .slogan .sloganTitle {
    font-size: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .slogan .sloganTitle {
    font-size: 144px;
  }
}

.slogan .scrollDown {
  position: absolute;
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slogan .scrollDown .arrow {
  width: 60%;
  -webkit-animation: scrollDown 1.5s infinite;
          animation: scrollDown 1.5s infinite;
}

.slogan .scrollDown img {
  width: 100%;
  vertical-align: top;
}

.memberAd {
  background-image: url(../img/mainpage/memberBg.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 90px;
  font-family: NotoSansTC, serif;
  width: 100%;
  height: 736px;
}

@media screen and (min-width: 1024px) {
  .memberAd {
    height: 1000px;
    padding-top: 100px;
  }
}

.memberAd .advertisement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../img/mainpage/adNoBgPhone.png);
  width: 100%;
  max-width: 1312px;
  padding: 12px 0px;
  background-position: center;
  background-size: cover;
  font-family: NotoSansTC, serif;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1024px) {
  .memberAd .advertisement {
    background-image: none;
    margin: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.memberAd .advertisement .adPhone {
  color: #FFFAE7;
  font-weight: 900;
  font-size: 18px;
}

.memberAd .advertisement .adPhone .number {
  color: #FDBF52;
}

@media screen and (min-width: 1024px) {
  .memberAd .advertisement .adPhone {
    display: none;
  }
}

.memberAd .advertisement .adWeb {
  display: none;
}

@media screen and (min-width: 1024px) {
  .memberAd .advertisement .adWeb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #FFFAE7;
    font-weight: 900;
    font-size: 18px;
    width: 400px;
    height: 300px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .memberAd .advertisement .adWeb .adTitle {
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 46px;
  }
}

@media screen and (min-width: 1200px) {
  .memberAd .advertisement .adWeb .adTitle {
    font-size: 44px;
  }
}

@media screen and (min-width: 1024px) {
  .memberAd .advertisement .adWeb .adContent {
    font-weight: 900;
    font-size: 28px;
  }
}

@media screen and (min-width: 1200px) {
  .memberAd .advertisement .adWeb .adContent {
    font-size: 36px;
  }
}

.memberAd .advertisement .adWeb .adContent .number {
  color: #FDBF52;
  margin: 0 5px;
}

@media screen and (min-width: 1024px) {
  .memberAd .advertisement .adWeb .adContent .number {
    font-weight: 900;
    font-size: 36px;
    margin: 0 10px;
  }
}

@media screen and (min-width: 1200px) {
  .memberAd .advertisement .adWeb .adContent .number {
    font-size: 44px;
  }
}

@media screen and (min-width: 1024px) {
  .memberAd .advertisement .member {
    background-image: url(../img/mainpage/memberNoBg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1024px) {
  .memberAd .advertisement .money {
    background-image: url(../img/mainpage/moneyNoBg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 2%;
  }
}

@media screen and (min-width: 1024px) {
  .memberAd .advertisement .aumlet {
    background-image: url(../img/mainpage/aumletNoBg.png);
    background-size: cover;
    background-position: center;
    padding: 60px 16px;
    background-repeat: no-repeat;
  }
}

.memberAd .memberContent {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: NotoSansTC, Serif;
  padding: 70px 20px 0 20px;
}

@media screen and (min-width: 768px) {
  .memberAd .memberContent {
    padding-top: 100px;
  }
}

.memberAd .memberContent h2 {
  color: #573605;
  font-size: 32px;
  font-weight: 900;
}

.memberAd .memberContent .memberSubTitle {
  color: #573605;
  margin: 30px 0;
  font-size: 24px;
}

@media screen and (min-width: 1024px) {
  .memberAd .memberContent .memberSubTitle {
    margin: 30px 0 50px 0;
  }
}

.memberAd .memberContent .memberP {
  color: #927858;
  font-size: 18px;
  line-height: 40px;
}

.memberAd .memberContent .memberPDetail {
  display: none;
}

@media screen and (min-width: 500px) {
  .memberAd .memberContent .memberPDetail {
    display: block;
    color: #927858;
    font-size: 18px;
    line-height: 40px;
  }
}

.memberAd .memberContent button {
  width: 200px;
  height: 60px;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  border: 0px;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #FDBF52;
  color: #573605;
  border-radius: 30px;
  color: transparent;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
  border: 0px;
  font-family: NotoSansTC, Serif;
  color: transparent;
  position: relative;
  backface-visibility: hidden;
}

.memberAd .memberContent button::before {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  padding-top: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  color: rgba(255, 255, 255, 0.9);
  margin-top: -1em;
}

.memberAd .memberContent button::after {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 12px;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #573605;
}

.memberAd .memberContent button:hover::before {
  opacity: 1;
  margin-top: 0;
}

.memberAd .memberContent button:hover::after {
  opacity: 0;
  margin-top: -1em;
}

@media screen and (min-width: 1024px) {
  .memberAd .memberContent button {
    margin-top: 70px;
  }
}

.memberAd .memberContent button::before {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: -20px;
  padding-top: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  color: rgba(255, 255, 255, 0.9);
  margin-left: -1em;
  margin-top: 0;
}

.memberAd .memberContent button::after {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: -20px;
  padding-top: 12px;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #573605;
  margin-top: 0;
}

.memberAd .memberContent button:hover::before {
  opacity: 1;
  margin-left: 0;
  margin-top: 0;
}

.memberAd .memberContent button:hover::after {
  opacity: 0;
  margin-left: 1em;
  margin-top: 0;
}

.memberAd .memberContent button .joinUs {
  margin-right: 10px;
}

.adPray {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 118px;
  font-family: NotoSansTC, Serif;
  background-color: #FFFAE7;
}

@media screen and (min-width: 1024px) {
  .adPray {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
    padding-top: 0px;
  }
}

.adPray .pray {
  padding: 0 20px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adPray .pray h2 {
  color: #573605;
  font-size: 32px;
}

.adPray .pray .paryContent {
  color: #927858;
  font-size: 18px;
  margin-top: 30px;
  line-height: 30px;
}

.adPray .pray button {
  width: 200px;
  height: 60px;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  border: 0px;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #FDBF52;
  color: #573605;
  border-radius: 30px;
  color: transparent;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: NotoSansTC, Serif;
  position: relative;
  left: 0;
  right: 0;
  top: 100px;
  margin: auto;
  color: transparent;
  position: relative;
  backface-visibility: hidden;
  z-index: 3;
}

.adPray .pray button::before {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  padding-top: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  color: rgba(255, 255, 255, 0.9);
  margin-top: -1em;
}

.adPray .pray button::after {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 12px;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #573605;
}

.adPray .pray button:hover::before {
  opacity: 1;
  margin-top: 0;
}

.adPray .pray button:hover::after {
  opacity: 0;
  margin-top: -1em;
}

@media screen and (min-width: 1024px) {
  .adPray .pray button {
    position: static;
    margin: 100px 0px 0px 0px;
  }
}

.adPray .pray button::before {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: -20px;
  padding-top: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  color: rgba(255, 255, 255, 0.9);
  margin-left: -1em;
  margin-top: 0;
}

.adPray .pray button::after {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: -20px;
  padding-top: 12px;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #573605;
  margin-top: 0;
}

.adPray .pray button:hover::before {
  opacity: 1;
  margin-left: 0;
  margin-top: 0;
}

.adPray .pray button:hover::after {
  opacity: 0;
  margin-left: 1em;
  margin-top: 0;
}

.adPray .pray .goPray {
  margin-right: 10px;
}

.adPray .prayBg {
  width: 100%;
}

.adPray .prayBg img {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .adPray .prayBg {
    width: 50%;
  }
}

.adPray .prayBg .webBg {
  display: none;
}

@media screen and (min-width: 1024px) {
  .adPray .prayBg .webBg {
    display: block;
    width: 100%;
  }
}

.adPray .prayBg .phoneBg {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .adPray .prayBg .phoneBg {
    display: none;
  }
}

.adPomes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 118px;
  font-family: NotoSansTC, Serif;
  width: 100%;
  background-color: #FFFAE7;
}

@media screen and (min-width: 1024px) {
  .adPomes {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    text-align: left;
    padding-top: 0px;
  }
}

.adPomes .pomes {
  width: 50%;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .adPomes .pomes {
    width: 30%;
    margin: auto;
  }
}

.adPomes .pomes h2 {
  color: #573605;
  font-size: 32px;
}

.adPomes .pomes .pomesContent {
  color: #927858;
  font-size: 18px;
  margin-top: 30px;
  line-height: 30px;
}

.adPomes .pomes button {
  width: 200px;
  height: 60px;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  border: 0px;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #FDBF52;
  color: #573605;
  border-radius: 30px;
  color: transparent;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  font-family: NotoSansTC, Serif;
  color: transparent;
  position: relative;
  backface-visibility: hidden;
  z-index: 3;
}

.adPomes .pomes button::before {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  padding-top: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  color: rgba(255, 255, 255, 0.9);
  margin-top: -1em;
}

.adPomes .pomes button::after {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 12px;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #573605;
}

.adPomes .pomes button:hover::before {
  opacity: 1;
  margin-top: 0;
}

.adPomes .pomes button:hover::after {
  opacity: 0;
  margin-top: -1em;
}

@media screen and (min-width: 1024px) {
  .adPomes .pomes button {
    position: static;
    margin: 100px 0px 0px 0px;
  }
}

.adPomes .pomes button::before {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: -20px;
  padding-top: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  color: rgba(255, 255, 255, 0.9);
  margin-left: -1em;
  margin-top: 0;
}

.adPomes .pomes button::after {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: -20px;
  padding-top: 12px;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #573605;
  margin-top: 0;
}

.adPomes .pomes button:hover::before {
  opacity: 1;
  margin-left: 0;
  margin-top: 0;
}

.adPomes .pomes button:hover::after {
  opacity: 0;
  margin-left: 1em;
  margin-top: 0;
}

.adPomes .pomes .goPomes {
  margin-right: 10px;
}

.adPomes .pomesBg {
  width: 100%;
}

.adPomes .pomesBg img {
  width: 100%;
  vertical-align: top;
}

@media screen and (min-width: 1024px) {
  .adPomes .pomesBg {
    width: 50%;
  }
}

.adPomes .pomesBg .webBg {
  display: none;
}

@media screen and (min-width: 1024px) {
  .adPomes .pomesBg .webBg {
    display: block;
    width: 100%;
  }
}

.adPomes .pomesBg .phoneBg {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .adPomes .pomesBg .phoneBg {
    display: none;
  }
}

@-webkit-keyframes move-letter {
  0% {
    opacity: 0;
    letter-spacing: -100px;
    -webkit-filter: blur(30px);
            filter: blur(30px);
  }
  25% {
    opacity: 1;
  }
  50% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  100% {
    letter-spacing: 0px;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

@keyframes move-letter {
  0% {
    opacity: 0;
    letter-spacing: -100px;
    -webkit-filter: blur(30px);
            filter: blur(30px);
  }
  25% {
    opacity: 1;
  }
  50% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  100% {
    letter-spacing: 0px;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

@-webkit-keyframes scrollDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
}

@keyframes scrollDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
}
/*# sourceMappingURL=mainpage.css.map */