/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: NotoSansTC;
  src: url("../font/NotoSerifTC-Medium.otf");
}

.containerId,
.containerId2 {
  max-width: 375px;
  width: 100%;
  background-color: #FFFAE7;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 65px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .containerId,
  .containerId2 {
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .containerId,
  .containerId2 {
    max-width: 1024px;
  }
}

@media screen and (min-width: 1200px) {
  .containerId,
  .containerId2 {
    max-width: 1200px;
  }
}

.boxContainer,
.boxContainer2 {
  width: 100%;
  max-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .boxContainer,
  .boxContainer2 {
    max-width: 400px;
    border: 1px solid #573605;
    background-color: white;
  }
}

.showAdd {
  display: none;
}

.showLogin {
  display: none;
}

.boxMember {
  margin: 15px 10px;
}

@media screen and (min-width: 768px) {
  .boxMember {
    margin: 25px 70px;
  }
}

.boxMember P {
  color: #573605;
  font-family: NotoSansTC, serif;
  font-size: 24px;
  margin-right: 150px;
  width: 100px;
}

@media screen and (min-width: 768px) {
  .boxMember P {
    margin-right: 200px;
  }
}

.boxMember .boxData {
  margin: 0 50px;
}

.boxMember .textId {
  color: #573605;
  font-size: 24px;
  font-family: NotoSansTC, serif;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .boxMember .textId {
    font-size: 24px;
  }
}

.boxMember .textId2 {
  opacity: 0.5;
}

.boxMember .textFixpwd {
  color: #573605;
  opacity: 0.5;
  font-size: 24px;
  font-family: NotoSansTC, serif;
  cursor: pointer;
  margin-left: 20px;
}

@media screen and (min-width: 768px) {
  .boxMember .textFixpwd {
    margin-left: 40px;
    font-size: 24px;
  }
}

.boxMember .textFixpwd2 {
  opacity: 1;
}

.boxData .textName,
.textPhone,
.textEmail,
.textPwd {
  padding: 10px 0px;
  width: 250px;
}

@media screen and (min-width: 768px) {
  .boxData .textName,
  .textPhone,
  .textEmail,
  .textPwd {
    width: 300px;
    background-color: white;
  }
}

.boxData span {
  padding: 2px;
  display: block;
  color: #573605;
  background-color: #FFFAE7;
  font-size: 16px;
  font-family: NotoSansTC, serif;
}

@media screen and (min-width: 768px) {
  .boxData span {
    background-color: transparent;
  }
}

.boxData input {
  border: none;
  background-color: #FFFAE7;
  border-bottom: 1px solid #573605;
  width: 250px;
  font-size: 18px;
  font-family: NotoSansTC, serif;
  color: #573605;
}

@media screen and (min-width: 768px) {
  .boxData input {
    background-color: transparent;
    width: 300px;
  }
}

.boxBtn .btnSave {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 300px;
  height: 50px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
  border: 0px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #FDBF52;
  color: #573605;
  border-radius: 30px;
  color: transparent;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
  cursor: pointer;
}

.boxBtn .btnSave::before {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  padding-top: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  color: rgba(255, 255, 255, 0.9);
  margin-top: -1em;
}

.boxBtn .btnSave::after {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 12px;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #573605;
}

.boxBtn .btnSave:hover::before {
  opacity: 1;
  margin-top: 0;
}

.boxBtn .btnSave:hover::after {
  opacity: 0;
  margin-top: -1em;
}

@media screen and (min-width: 768px) {
  .boxBtn .btnSave {
    width: 300px;
  }
}

.boxBtn .btnCancel {
  margin-bottom: 30px;
  width: 300px;
  height: 50px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
  border: 0px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #FDBF52;
  color: #573605;
  border-radius: 30px;
  color: transparent;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
  cursor: pointer;
}

.boxBtn .btnCancel::before {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  padding-top: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  color: rgba(255, 255, 255, 0.9);
  margin-top: -1em;
}

.boxBtn .btnCancel::after {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 12px;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #573605;
}

.boxBtn .btnCancel:hover::before {
  opacity: 1;
  margin-top: 0;
}

.boxBtn .btnCancel:hover::after {
  opacity: 0;
  margin-top: -1em;
}

@media screen and (min-width: 768px) {
  .boxBtn .btnCancel {
    width: 300px;
  }
}

section {
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
}

.wrapp {
  width: 100%;
  max-width: 375px;
  background-color: #FFFAE7;
  margin: auto;
  position: relative;
  display: none;
}

@media screen and (min-width: 768px) {
  .wrapp {
    max-width: 768px;
    display: unset;
  }
}

@media screen and (min-width: 1024px) {
  .wrapp {
    max-width: 1024px;
  }
}

@media screen and (min-width: 1200px) {
  .wrapp {
    max-width: 1200px;
  }
}

.wrapp h2 {
  font-size: 32px;
  font-weight: 700;
  color: #573605;
  text-align: center;
  margin-bottom: 30px;
}

.wrapp span {
  text-align: right;
  color: #573605;
  display: block;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .wrapp span {
    position: absolute;
    top: 30px;
    right: 0px;
    text-decoration: underline;
  }
}

@media screen and (min-width: 1200px) {
  .wrapp span {
    top: 30px;
    right: 0px;
  }
}

.boxRec1,
.boxRec2,
.boxRec3 {
  width: 100%;
  max-width: 335px;
  border: 1px solid #573605;
  border-radius: 20px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .boxRec1,
  .boxRec2,
  .boxRec3 {
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .boxRec1,
  .boxRec2,
  .boxRec3 {
    max-width: 1024px;
  }
}

@media screen and (min-width: 1200px) {
  .boxRec1,
  .boxRec2,
  .boxRec3 {
    max-width: 1200px;
  }
}

.boxRec1 .bold,
.boxRec2 .bold,
.boxRec3 .bold {
  font-weight: 700;
}

.boxRec1 .boxMem,
.boxRec2 .boxMem,
.boxRec3 .boxMem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.boxRec1 .boxMem button,
.boxRec2 .boxMem button,
.boxRec3 .boxMem button {
  text-decoration: none;
  list-style: none;
  color: #573605;
  background-color: #FDBF52;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 0;
  text-align: center;
  border: 1px solid #573605;
  font-size: 18px;
}

.boxRec1 .boxMem .mPray,
.boxRec2 .boxMem .mPray,
.boxRec3 .boxMem .mPray {
  border-top-left-radius: 20px;
  border: none;
}

.boxRec1 .boxMem .mPray:hover,
.boxRec2 .boxMem .mPray:hover,
.boxRec3 .boxMem .mPray:hover {
  background-color: #FCDBA3;
}

.boxRec1 .boxMem .mPomes,
.boxRec2 .boxMem .mPomes,
.boxRec3 .boxMem .mPomes {
  border: none;
  border-left: 1px solid #573605;
}

.boxRec1 .boxMem .mPomes:hover,
.boxRec2 .boxMem .mPomes:hover,
.boxRec3 .boxMem .mPomes:hover {
  background-color: #FCDBA3;
}

.boxRec1 .boxMem .mOrder,
.boxRec2 .boxMem .mOrder,
.boxRec3 .boxMem .mOrder {
  border: none;
  border-top-right-radius: 20px;
  border-left: 1px solid #573605;
}

.boxRec1 .boxMem .mOrder:hover,
.boxRec2 .boxMem .mOrder:hover,
.boxRec3 .boxMem .mOrder:hover {
  background-color: #FCDBA3;
}

.boxRec1 .boxMem .mBg,
.boxRec2 .boxMem .mBg,
.boxRec3 .boxMem .mBg {
  background-color: #fff;
}

.showRec1,
.showRec2,
.showRec3 {
  display: none;
}

.boxItem {
  width: 100%;
  max-width: 335px;
  background-color: #fff;
  text-align: center;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .boxItem {
    max-width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .boxItem {
    max-width: 1024px;
  }
}

@media screen and (min-width: 1200px) {
  .boxItem {
    max-width: 1200px;
  }
}

.boxItem img {
  vertical-align: top;
  padding: 25px 50px;
}

.boxItem p {
  padding: 30px 0px;
  color: #573605;
  border-top: 1px solid #573605;
  font-family: NotoSansTC, serif;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .boxItem p {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
    padding: 0px 0px;
    border-top: none;
  }
}

.arrow {
  border-top: 1px solid #573605;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .arrow {
    display: none;
  }
}

.arrow img {
  padding: 30px 20px;
}

.arrow img:nth-child(1) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: auto;
}

.arrow img:nth-child(2) {
  margin-left: auto;
}
/*# sourceMappingURL=memberFix.css.map */