/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #FFFAE7;
}

section {
  max-width: 1400px;
  margin: auto;
}

.onlinepomesWrap {
  padding-top: 128px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 335px;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .onlinepomesWrap {
    max-width: 768px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.onlineTitle h1 {
  font-family: NotoSansTC;
  font-style: normal;
  font-weight: 900;
  margin-bottom: 20px;
  font-size: 24px;
  letter-spacing: 0.05em;
  color: #573605;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .onlineTitle h1 {
    font-size: 36px;
  }
}

.onlineText h3 {
  width: 100%;
  font-family: NotoSansTC;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 56px;
  /* or 156% */
  text-align: center;
  letter-spacing: 0.2px;
  color: #927858;
}

@media screen and (min-width: 768px) {
  .onlineText h3 {
    font-size: 28px;
  }
}

.onlineText p {
  max-width: 315px;
  width: 100%;
  font-family: NotoSansTC;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #927858;
}

@media screen and (min-width: 768px) {
  .onlineText p {
    max-width: 730px;
    width: 100%;
  }
}

.onlineBtn {
  text-decoration: none;
}

.onlineBtn button {
  font-family: NotoSansTC;
  color: #927858;
  font-size: 18px;
  width: 120px;
  height: 42px;
  margin-bottom: 200px;
  width: 200px;
  height: 60px;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  border: 0px;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #FDBF52;
  color: #573605;
  border-radius: 30px;
  color: transparent;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.onlineBtn button::before {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  padding-top: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  color: rgba(255, 255, 255, 0.9);
  margin-top: -1em;
}

.onlineBtn button::after {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 12px;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #573605;
}

.onlineBtn button:hover::before {
  opacity: 1;
  margin-top: 0;
}

.onlineBtn button:hover::after {
  opacity: 0;
  margin-top: -1em;
}

@media screen and (min-width: 768px) {
  .onlineBtn button {
    width: 200px;
    height: 60px;
    font-size: 24px;
  }
}
/*# sourceMappingURL=onlinepomes.css.map */