@charset "UTF-8";
body {
  background: #FFFAE7;
}

.praySection {
  margin-top: 120px;
}

@media screen and (min-width: 1024px) {
  .praySection {
    margin-top: 200px;
    position: relative;
  }
}

.pray {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: NotoSansTC, sans-serif;
  color: #573605;
}

.pray .choose {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.pray .prayCate {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

.pray .cateSectionPhone {
  position: relative;
}

@media screen and (min-width: 1024px) {
  .pray .cateSectionPhone {
    display: none;
  }
}

.pray .cateSectionPhone::after {
  content: "▼";
  padding: 9px 18px;
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 2;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pray .cateSectionPhone .select {
  margin-bottom: 85px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #573605;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  font-size: 14px;
  color: #573605;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-left: 20px;
  font-family: NotoSansTC, sans-serif;
}

.pray .godRepresent {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  margin-top: 10px;
}

@media screen and (min-width: 1024px) {
  .pray .godRepresent {
    display: none;
  }
}

.pray .godTitle {
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
}

@media screen and (min-width: 1024px) {
  .pray .godTitle {
    font-weight: 900;
    margin-top: 20px;
  }
}

.pray .prayNow {
  width: 120px;
  height: 42px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  border: 0px;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #FDBF52;
  color: #573605;
  border-radius: 20px;
  color: transparent;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-top: 40px;
  margin-bottom: 65px;
}

.pray .prayNow::before {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  padding-top: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  color: rgba(255, 255, 255, 0.9);
  margin-top: -1em;
}

.pray .prayNow::after {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 12px;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #573605;
}

.pray .prayNow:hover::before {
  opacity: 1;
  margin-top: 0;
}

.pray .prayNow:hover::after {
  opacity: 0;
  margin-top: -1em;
}

@media screen and (min-width: 1024px) {
  .pray .prayNow {
    display: none;
  }
}

.pray .prayImg {
  position: relative;
}

@media screen and (min-width: 1024px) {
  .pray .prayImg::before {
    content: '';
    width: 600px;
    height: 600px;
    border-radius: 50%;
    border: 3px solid #927858;
    position: absolute;
    left: -130px;
    top: -150px;
    z-index: 1;
  }
}

.pray .prayImg img {
  width: 100%;
  vertical-align: top;
}

.pray .prayImg::after {
  content: '';
  width: 370px;
  height: 370px;
  border-radius: 50%;
  background: rgba(253, 191, 82, 0.5);
  position: absolute;
  left: -10px;
  top: -20px;
  z-index: -1;
}

@media screen and (min-width: 1024px) {
  .pray .prayImg::after {
    width: 400px;
    height: 400px;
    left: -25px;
    top: -50px;
  }
}

.cateSectionWeb {
  display: none;
}

@media screen and (min-width: 1024px) {
  .cateSectionWeb {
    display: block;
  }
  .cateSectionWeb .cate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #927858;
    position: absolute;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    cursor: pointer;
  }
  .cateSectionWeb .cate:hover::after {
    background: rgba(253, 191, 82, 0.5);
    -webkit-animation: spread infinite 1s ease-in;
            animation: spread infinite 1s ease-in;
  }
  .cateSectionWeb .cate::after {
    content: '';
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: rgba(146, 120, 88, 0.5);
    position: absolute;
    z-index: -1;
  }
  .cateSectionWeb .cate img {
    vertical-align: top;
  }
  .cateSectionWeb .cate .cateTitle {
    font-family: Noto Sans TC, serif;
    color: #ffffff;
    line-height: 26px;
    font-size: 18px;
  }
  .cateSectionWeb .love {
    -webkit-transform: translate(-190px, -230px);
            transform: translate(-190px, -230px);
  }
  .cateSectionWeb .study {
    -webkit-transform: translate(190px, -230px);
            transform: translate(190px, -230px);
  }
  .cateSectionWeb .work {
    -webkit-transform: translate(-305px, 0px);
            transform: translate(-305px, 0px);
  }
  .cateSectionWeb .health {
    -webkit-transform: translate(300px, 0px);
            transform: translate(300px, 0px);
  }
  .cateSectionWeb .wealth {
    -webkit-transform: translate(-190px, 235px);
            transform: translate(-190px, 235px);
  }
  .cateSectionWeb .safety {
    -webkit-transform: translate(190px, 230px);
            transform: translate(190px, 230px);
  }
}

@-webkit-keyframes spread {
  0% {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  15% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  50% {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  65% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  75% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  100% {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
}

@keyframes spread {
  0% {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  15% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  50% {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  65% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  75% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  100% {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
}
/*# sourceMappingURL=pray.css.map */