@charset "UTF-8";
body {
  background: #FFFAE7;
}

.praySection {
  margin-top: 120px;
  height: 735px;
}

@media screen and (min-width: 1024px) {
  .praySection {
    margin-top: 50px;
    position: relative;
  }
}

.pray {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: NotoSansTC, sans-serif;
  color: #573605;
  margin: auto;
}

.pray .choose {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.pray .prayCate {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

.pray .cateSectionPhone {
  position: relative;
}

@media screen and (min-width: 1024px) {
  .pray .cateSectionPhone {
    display: none;
  }
}

.pray .cateSectionPhone::after {
  content: "▼";
  padding: 9px 18px;
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 2;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pray .cateSectionPhone .select {
  margin-bottom: 85px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #573605;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  font-size: 14px;
  color: #573605;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-left: 20px;
  font-family: NotoSansTC, sans-serif;
}

.pray .godRepresent {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  margin-top: 10px;
}

@media screen and (min-width: 1024px) {
  .pray .godRepresent {
    display: none;
  }
}

.pray .godTitle {
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
}

@media screen and (min-width: 1024px) {
  .pray .godTitle {
    font-weight: 900;
    margin-top: 20px;
  }
}

.pray .prayNow {
  width: 120px;
  height: 42px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  border: 0px;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #FDBF52;
  color: #573605;
  border-radius: 20px;
  color: transparent;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-top: 40px;
  margin-bottom: 65px;
  font-family: NotoSansTC, sans-serif;
}

.pray .prayNow::before {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  padding-top: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  color: rgba(255, 255, 255, 0.9);
  margin-top: -1em;
}

.pray .prayNow::after {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 12px;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #573605;
}

.pray .prayNow:hover::before {
  opacity: 1;
  margin-top: 0;
}

.pray .prayNow:hover::after {
  opacity: 0;
  margin-top: -1em;
}

@media screen and (min-width: 1024px) {
  .pray .prayNow {
    display: none;
  }
}

.pray .prayImg {
  position: relative;
}

@media screen and (min-width: 1024px) {
  .pray .prayImg::before {
    content: '';
    width: 600px;
    height: 600px;
    border-radius: 50%;
    border: 3px solid #927858;
    position: absolute;
    left: -130px;
    top: -150px;
    z-index: 1;
  }
}

.pray .prayImg img {
  width: 100%;
  vertical-align: top;
}

.pray .prayImg::after {
  content: '';
  width: 370px;
  height: 370px;
  border-radius: 50%;
  background: rgba(253, 191, 82, 0.5);
  position: absolute;
  left: -10px;
  top: -20px;
  z-index: -1;
}

@media screen and (min-width: 1024px) {
  .pray .prayImg::after {
    width: 400px;
    height: 400px;
    left: -25px;
    top: -50px;
  }
}

.cateSectionWeb {
  display: none;
}

@media screen and (min-width: 1024px) {
  .cateSectionWeb {
    display: block;
  }
  .cateSectionWeb .cate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #927858;
    position: absolute;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    cursor: pointer;
  }
  .cateSectionWeb .cate:hover::after {
    background: rgba(253, 191, 82, 0.5);
    -webkit-animation: spread infinite 1s ease-in;
            animation: spread infinite 1s ease-in;
  }
  .cateSectionWeb .cate::after {
    content: '';
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: rgba(146, 120, 88, 0.5);
    position: absolute;
    z-index: -1;
  }
  .cateSectionWeb .cate img {
    vertical-align: top;
  }
  .cateSectionWeb .cate .cateTitle {
    font-family: Noto Sans TC, serif;
    color: #ffffff;
    line-height: 26px;
    font-size: 18px;
  }
  .cateSectionWeb .love {
    -webkit-transform: translate(-190px, -230px);
            transform: translate(-190px, -230px);
  }
  .cateSectionWeb .study {
    -webkit-transform: translate(190px, -230px);
            transform: translate(190px, -230px);
  }
  .cateSectionWeb .work {
    -webkit-transform: translate(-305px, 0px);
            transform: translate(-305px, 0px);
  }
  .cateSectionWeb .health {
    -webkit-transform: translate(300px, 0px);
            transform: translate(300px, 0px);
  }
  .cateSectionWeb .wealth {
    -webkit-transform: translate(-190px, 235px);
            transform: translate(-190px, 235px);
  }
  .cateSectionWeb .safety {
    -webkit-transform: translate(190px, 230px);
            transform: translate(190px, 230px);
  }
}

@-webkit-keyframes spread {
  0% {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  15% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  50% {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  65% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  75% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  100% {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
}

@keyframes spread {
  0% {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  15% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  50% {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  65% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  75% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  100% {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
}

.bobioPray {
  position: relative;
}

@media screen and (min-width: 1024px) {
  .bobioPray::before {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #927858;
    position: absolute;
    z-index: -1;
    bottom: 340px;
  }
}

.bobioPray.no-line::before {
  display: none;
}

.prayIntro {
  height: 735px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1024px) {
  .prayIntro {
    height: 760px;
  }
}

.mainSec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding-top: 120px;
  text-align: center;
  font-family: NotoSansTC, sans-serif;
  color: #573605;
  margin: auto;
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .mainSec {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 1312px;
    margin: auto;
    position: relative;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    padding-top: 240px;
    overflow: initial;
  }
}

.mainSec .praySteps {
  display: none;
}

@media screen and (min-width: 1024px) {
  .mainSec .praySteps {
    display: block;
  }
}

.mainSec .prayGod {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

@media screen and (min-width: 1024px) {
  .mainSec .prayGod {
    width: 50%;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

.mainSec .prayGod img {
  width: 100%;
  vertical-align: top;
}

@media screen and (min-width: 1024px) {
  .mainSec .prayTitle {
    height: 300px;
    margin-left: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .mainSec .prayTitle .prayMethod {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.mainSec .prayTitle .methodWeb {
  display: none;
}

@media screen and (min-width: 1024px) {
  .mainSec .prayTitle .methodWeb {
    display: block;
    font-size: 32px;
    font-weight: 900;
    line-height: 40px;
  }
}

.mainSec .prayTitle .methodPhone {
  font-size: 32px;
  font-weight: 900;
  line-height: 40px;
}

@media screen and (min-width: 1024px) {
  .mainSec .prayTitle .methodPhone {
    display: none;
  }
}

.mainSec .prayTitle .detailWeb {
  display: none;
}

@media screen and (min-width: 1024px) {
  .mainSec .prayTitle .detailWeb {
    display: block;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    margin: 0px 0px 0px 40px;
    color: #927858;
  }
}

.mainSec .prayTitle .detailPhone {
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  margin: 15px 0 60px 0;
  color: #927858;
}

@media screen and (min-width: 1024px) {
  .mainSec .prayTitle .detailPhone {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .mainSec .prayTitle .praySteps {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    position: relative;
  }
}

.mainSec .prayTitle .praySteps .step {
  width: 106px;
  height: 106px;
  border-radius: 50%;
  background-color: #927858;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.mainSec .prayTitle .praySteps .step::after {
  content: "";
  width: 125px;
  height: 125px;
  border-radius: 50%;
  position: absolute;
  background-color: rgba(146, 120, 88, 0.5);
  z-index: -1;
}

.mainSec .prayTitle .praySteps .prayStart {
  margin: 0 80px;
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 70px 20px 50px 20px;
  max-width: 1312px;
}

@media screen and (min-width: 1200px) {
  .steps {
    margin: 70px auto 50px auto;
  }
}

.attrIntro {
  height: 735px;
  width: 100%;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .attrIntro {
    height: 760px;
  }
}

.attrSec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding-top: 120px;
  text-align: center;
  font-family: NotoSansTC, sans-serif;
  color: #573605;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .attrSec {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 1312px;
    padding: 170px 50px 0 50px;
    position: relative;
  }
}

.attrSec .chooseAttr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

@media screen and (min-width: 1024px) {
  .attrSec .chooseAttr {
    width: 50%;
  }
}

.attrSec .chooseAttr .attr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.attrSec .chooseAttr .attr h2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.05em;
  margin: 87px 0 60px 0;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #FDBF52;
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .attrSec .chooseAttr .attr h2 {
    width: 120px;
    height: 120px;
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .attrSec .chooseAttr .attr h2 {
    width: 150px;
    height: 150px;
  }
}

.attrSec .chooseAttr .attr h2::before {
  content: "";
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: #FFFAE7;
  position: absolute;
  z-index: -1;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (min-width: 768px) {
  .attrSec .chooseAttr .attr h2::before {
    width: 105px;
    height: 105px;
  }
}

@media screen and (min-width: 1200px) {
  .attrSec .chooseAttr .attr h2::before {
    width: 125px;
    height: 125px;
  }
}

.attrSec .chooseAttr .attr h2::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 12px 0 12px;
  border-color: #FDBF52 transparent transparent transparent;
  position: absolute;
  z-index: -2;
  bottom: -10px;
}

.attrSec .chooseAttr .attr .detail {
  width: 100px;
  height: 180px;
  background: #FCDBA3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .attrSec .chooseAttr .attr .detail {
    width: 130px;
    height: 210px;
  }
}

.attrSec .chooseAttr .attr .detail::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 20px;
  background: #FFFAE7;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.attrSec .chooseAttr .attr .detail::after {
  content: "";
  width: 2px;
  height: 75px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -54px;
  background: #FDBF52;
}

.attrSec .chooseAttr .attr .detail p {
  font-size: 14px;
  line-height: 20px;
  padding-top: 50px;
}

@media screen and (min-width: 768px) {
  .attrSec .chooseAttr .attr .detail p {
    padding-top: 70px;
  }
}

.attrSec .chooseAttr .attr .detail .choose {
  width: 80px;
  height: 42px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  border: 0px;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #FDBF52;
  color: #573605;
  border-radius: 20px;
  color: transparent;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin: 10px 0 20px 0;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

.attrSec .chooseAttr .attr .detail .choose::before {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  padding-top: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  color: rgba(255, 255, 255, 0.9);
  margin-top: -1em;
}

.attrSec .chooseAttr .attr .detail .choose::after {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 12px;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #573605;
}

.attrSec .chooseAttr .attr .detail .choose:hover::before {
  opacity: 1;
  margin-top: 0;
}

.attrSec .chooseAttr .attr .detail .choose:hover::after {
  opacity: 0;
  margin-top: -1em;
}

@media screen and (min-width: 1200px) {
  .attrSec .chooseAttr .attr .detail .choose {
    margin: 25px 0 20px 0;
  }
}

.attrSec .stepMethod {
  display: none;
}

@media screen and (min-width: 1024px) {
  .attrSec .stepMethod {
    display: block;
    width: 18%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 100px;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    position: relative;
  }
  .attrSec .stepMethod .step {
    width: 106px;
    height: 106px;
    border-radius: 50%;
    background-color: #927858;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    bottom: -40px;
  }
  .attrSec .stepMethod .step::after {
    content: "";
    width: 125px;
    height: 125px;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(146, 120, 88, 0.5);
    z-index: -1;
  }
}

@media screen and (min-width: 1024px) {
  .attrTitle {
    width: 32%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1024px) {
  .attrTitle .attrChoices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.attrTitle .attrChoices .choicesWeb {
  display: none;
}

@media screen and (min-width: 1024px) {
  .attrTitle .attrChoices .choicesWeb {
    display: block;
    font-size: 32px;
    font-weight: 900;
    line-height: 40px;
  }
}

.attrTitle .attrChoices .choicesPhone {
  font-size: 32px;
  font-weight: 900;
  line-height: 40px;
}

@media screen and (min-width: 1024px) {
  .attrTitle .attrChoices .choicesPhone {
    display: none;
  }
}

.attrTitle .attrChoices .choicesDetail {
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 15px;
  color: #927858;
}

@media screen and (min-width: 1024px) {
  .attrTitle .attrChoices .choicesDetail {
    margin-left: 40px;
    margin-top: 0px;
  }
}

.attrTitle .chooseSteps {
  display: none;
}

@media screen and (min-width: 1024px) {
  .attrTitle .chooseSteps {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 100px;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    position: relative;
  }
  .attrTitle .chooseSteps .step {
    width: 106px;
    height: 106px;
    border-radius: 50%;
    background-color: #927858;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .attrTitle .chooseSteps .step::after {
    content: "";
    width: 125px;
    height: 125px;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(146, 120, 88, 0.5);
    z-index: -1;
  }
  .attrTitle .chooseSteps .prayStart {
    margin-right: 80px;
  }
}

.byeBye {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 735px;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .byeBye {
    height: 760px;
  }
}

.byeSec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 120px;
  text-align: center;
  font-family: NotoSansTC, sans-serif;
  color: #573605;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .byeSec {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 1312px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    padding-top: 265px;
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
  }
}

.byeSec .byeByeAnimation {
  width: 80%;
}

.byeSec .byeByeAnimation img {
  width: 100%;
  vertical-align: top;
}

@media screen and (min-width: 768px) {
  .byeSec .byeByeAnimation {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .byeSec .byeByeAnimation {
    width: 50%;
  }
  .byeSec .byeByeAnimation img {
    width: 100%;
    -webkit-transform: translate(0px, 20px);
            transform: translate(0px, 20px);
  }
}

@media screen and (min-width: 1200px) {
  .byeSec .byeByeAnimation {
    width: 500px;
    height: 452px;
  }
}

.byeSec .lastStep {
  display: none;
}

@media screen and (min-width: 1024px) {
  .byeSec .lastStep {
    display: block;
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #ffffff;
    margin-top: 100px;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1024px) and (min-width: 1200px) {
  .byeSec .lastStep {
    width: 15%;
    margin-left: 2%;
  }
}

@media screen and (min-width: 1024px) {
  .byeSec .lastStep .step {
    width: 106px;
    height: 106px;
    border-radius: 50%;
    background-color: #927858;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    bottom: -40px;
  }
  .byeSec .lastStep .step::after {
    content: "";
    width: 125px;
    height: 125px;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(146, 120, 88, 0.5);
    z-index: -1;
  }
}

.byeTitle {
  margin-bottom: 77px;
}

@media screen and (min-width: 1024px) {
  .byeTitle {
    width: 40%;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .byeTitle {
    width: 35%;
  }
}

@media screen and (min-width: 1024px) {
  .byeTitle .byeChoices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.byeTitle .byeChoices .byeByeWeb {
  display: none;
}

@media screen and (min-width: 1024px) {
  .byeTitle .byeChoices .byeByeWeb {
    display: block;
    font-size: 32px;
    font-weight: 900;
    line-height: 40px;
  }
}

.byeTitle .byeChoices .byeByePhone {
  font-size: 32px;
  font-weight: 900;
  line-height: 40px;
}

@media screen and (min-width: 1024px) {
  .byeTitle .byeChoices .byeByePhone {
    display: none;
  }
}

.byeTitle .byeChoices .byeByeDetail {
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 15px;
  color: #927858;
}

@media screen and (min-width: 1024px) {
  .byeTitle .byeChoices .byeByeDetail {
    margin-left: 40px;
    margin-top: 0px;
    text-align: left;
  }
}

.byeTitle .byeByeProcess {
  display: none;
}

@media screen and (min-width: 1024px) {
  .byeTitle .byeByeProcess {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 100px;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    position: relative;
  }
  .byeTitle .byeByeProcess .step {
    width: 106px;
    height: 106px;
    border-radius: 50%;
    background-color: #927858;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .byeTitle .byeByeProcess .step::after {
    content: "";
    width: 125px;
    height: 125px;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(146, 120, 88, 0.5);
    z-index: -1;
  }
  .byeTitle .byeByeProcess .prayStart {
    margin-right: 80px;
  }
}

.btnStep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 70px 20px 50px 20px;
  max-width: 1312px;
}

@media screen and (min-width: 1200px) {
  .btnStep {
    margin: 70px auto 50px auto;
  }
}

.btnStep .btn {
  cursor: pointer;
  background-color: transparent;
  border-style: none;
}

@media screen and (min-width: 1024px) {
  .btnStep .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.btnStep .btn p {
  display: none;
}

@media screen and (min-width: 1024px) {
  .btnStep .btn p {
    display: inline-block;
    line-height: 26px;
    font-family: NotoSansTC, sans-serif;
    font-size: 18px;
    color: #573605;
    padding: 0 10px;
  }
}

.Finish {
  height: 735px;
  width: 100%;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .Finish {
    height: 760px;
  }
}

.doneSec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 120px;
  text-align: center;
  font-family: NotoSansTC, sans-serif;
  color: #573605;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .doneSec {
    padding-top: 220px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 1312px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
  }
}

.doneSec .prayCard {
  width: 100%;
}

.doneSec .prayCard .cardDetail img {
  width: 100%;
  vertical-align: top;
}

@media screen and (min-width: 1024px) {
  .doneSec .prayCard {
    width: 45%;
  }
  .doneSec .prayCard .cardDetail img {
    width: auto;
  }
}

.doneTitle {
  margin-bottom: 77px;
}

@media screen and (min-width: 1024px) {
  .doneTitle {
    width: 55%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: 5%;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .doneTitle .doneIntro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.doneTitle .doneIntro .prayDoneWeb {
  display: none;
}

@media screen and (min-width: 1024px) {
  .doneTitle .doneIntro .prayDoneWeb {
    display: block;
    font-size: 32px;
    font-weight: 900;
    line-height: 40px;
  }
}

.doneTitle .doneIntro .prayDonePhone {
  font-size: 32px;
  font-weight: 900;
  line-height: 40px;
}

@media screen and (min-width: 1024px) {
  .doneTitle .doneIntro .prayDonePhone {
    display: none;
  }
}

.doneTitle .doneIntro .doneDetail {
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 15px;
  color: #927858;
}

@media screen and (min-width: 1024px) {
  .doneTitle .doneIntro .doneDetail {
    margin-left: 40px;
    margin-top: 0px;
    text-align: left;
  }
}

.doneTitle .prayProcess {
  display: none;
}

@media screen and (min-width: 1024px) {
  .doneTitle .prayProcess {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 100px;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    position: relative;
  }
  .doneTitle .prayProcess .step {
    width: 106px;
    height: 106px;
    border-radius: 50%;
    background-color: #927858;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .doneTitle .prayProcess .step::after {
    content: "";
    width: 125px;
    height: 125px;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(146, 120, 88, 0.5);
    z-index: -1;
  }
  .doneTitle .prayProcess .prayDone {
    margin-right: 80px;
  }
}

.section {
  display: none;
}

.praySection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.goMainpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 68px auto 40px auto;
}

@media screen and (min-width: 1024px) {
  .goMainpage {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    max-width: 1312px;
  }
}

.goMainpage button {
  font-family: NotoSansTC, sans-serif;
  font-size: 18px;
  color: #573605;
  line-height: 26px;
  width: 120px;
  height: 42px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  border: 0px;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #FDBF52;
  color: #573605;
  border-radius: 20px;
  color: transparent;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.goMainpage button::before {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  padding-top: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  color: rgba(255, 255, 255, 0.9);
  margin-top: -1em;
}

.goMainpage button::after {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 12px;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #573605;
}

.goMainpage button:hover::before {
  opacity: 1;
  margin-top: 0;
}

.goMainpage button:hover::after {
  opacity: 0;
  margin-top: -1em;
}

@-webkit-keyframes fadeLeft {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fadeLeft {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fadeRight {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fadeRight {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=pray.css.map */