body {
  background: #FFFAE7;
}

.byeBye {
  width: 100%;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .byeBye {
    height: 700px;
  }
  .byeBye::before {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #927858;
    position: absolute;
    z-index: -1;
    bottom: 295px;
  }
}

@media screen and (min-width: 1024px) and (min-width: 1200px) {
  .byeBye::before {
    bottom: 215px;
  }
}

.byeSec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 120px;
  text-align: center;
  font-family: NotoSansTC, sans-serif;
  color: #573605;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .byeSec {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 1312px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
  }
}

.byeSec .byeByeAnimation {
  width: 90%;
}

.byeSec .byeByeAnimation img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .byeSec .byeByeAnimation {
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  .byeSec .byeByeAnimation {
    width: 50%;
  }
  .byeSec .byeByeAnimation img {
    width: 100%;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@media screen and (min-width: 1200px) {
  .byeSec .byeByeAnimation {
    width: 60%;
  }
}

.byeSec .lastStep {
  display: none;
}

@media screen and (min-width: 1024px) {
  .byeSec .lastStep {
    display: block;
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #ffffff;
    margin-top: 100px;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    margin-left: 5%;
  }
}

@media screen and (min-width: 1024px) and (min-width: 1200px) {
  .byeSec .lastStep {
    width: 15%;
    margin-left: 3%;
  }
}

@media screen and (min-width: 1024px) {
  .byeSec .lastStep .step {
    width: 106px;
    height: 106px;
    border-radius: 50%;
    background-color: #927858;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    bottom: -40px;
  }
  .byeSec .lastStep .step::after {
    content: "";
    width: 125px;
    height: 125px;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(146, 120, 88, 0.5);
    z-index: -1;
  }
}

.byeTitle {
  margin-bottom: 77px;
}

@media screen and (min-width: 1024px) {
  .byeTitle {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: 5%;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .byeTitle {
    width: 35%;
  }
}

@media screen and (min-width: 1024px) {
  .byeTitle .byeChoices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.byeTitle .byeChoices .byeByeWeb {
  display: none;
}

@media screen and (min-width: 1024px) {
  .byeTitle .byeChoices .byeByeWeb {
    display: block;
    font-size: 32px;
    font-weight: 900;
    line-height: 40px;
  }
}

.byeTitle .byeChoices .byeByePhone {
  font-size: 32px;
  font-weight: 900;
  line-height: 40px;
}

@media screen and (min-width: 1024px) {
  .byeTitle .byeChoices .byeByePhone {
    display: none;
  }
}

.byeTitle .byeChoices .byeByeDetail {
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 15px;
  color: #927858;
}

@media screen and (min-width: 1024px) {
  .byeTitle .byeChoices .byeByeDetail {
    margin-left: 40px;
    margin-top: 0px;
    text-align: left;
  }
}

.byeTitle .byeByeProcess {
  display: none;
}

@media screen and (min-width: 1024px) {
  .byeTitle .byeByeProcess {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 100px;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    position: relative;
  }
  .byeTitle .byeByeProcess .step {
    width: 106px;
    height: 106px;
    border-radius: 50%;
    background-color: #927858;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .byeTitle .byeByeProcess .step::after {
    content: "";
    width: 125px;
    height: 125px;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(146, 120, 88, 0.5);
    z-index: -1;
  }
  .byeTitle .byeByeProcess .prayStart {
    margin-right: 80px;
  }
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 70px 20px 50px 20px;
  max-width: 1312px;
}

@media screen and (min-width: 1200px) {
  .steps {
    margin: 70px auto 50px auto;
  }
}

.steps .btn {
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .steps .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.steps .btn p {
  display: none;
}

@media screen and (min-width: 1024px) {
  .steps .btn p {
    display: inline-block;
    line-height: 26px;
    font-family: NotoSansTC, sans-serif;
    font-size: 18px;
    color: #573605;
    padding: 0 10px;
  }
}
/*# sourceMappingURL=prayAnimation.css.map */