/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: NotoSansTC;
  src: url("../font/NotoSerifTC-Medium.otf");
}

.wrapp {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFAE7;
  position: relative;
}

.sidebar {
  width: 17%;
  height: 100vh;
  background-color: #FDBF52;
}

.prayRecorder,
.cardManage,
.supplyManage,
.pomes,
.pomeDetail,
.pomeRecorder,
.amuletManage,
.zodiac-Manage-second,
.product-orders,
.productOrders,
.memberDetail,
.moneyRecorder,
.adminList {
  margin: 20px auto;
  width: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFFAE7;
  position: relative;
}

.showbox1,
.showbox2,
.showbox3 {
  display: none;
}

.showbtnbox {
  visibility: hidden;
}

.supply {
  margin-bottom: 20px;
}

.supply span {
  font-family: NotoSansTC, serif;
  font-size: 24px;
  font-weight: 700;
  color: #573605;
}

.supply img {
  vertical-align: top;
  padding-top: 7px;
  padding-left: 5px;
}

.searchbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}

.searchbox input {
  background-color: #FCDBA3;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 0px;
  padding-left: 10px;
}

.searchbox button {
  background-color: #927858;
  border: 0px;
  padding-left: 10px;
  padding-right: 5px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  right: 5px;
}

.searchbox button img {
  vertical-align: middle;
  padding-bottom: 2px;
  padding-right: 5px;
}

.searchbox .page {
  padding: 0px 70px 0px 0px;
}

.searchbox .page .each {
  color: #927858;
  font-size: 18px;
  font-family: NotoSansTC, serif;
  font-weight: 700;
}

.searchbox select {
  border-radius: 10px;
  background-color: #FCDBA3;
  border: none;
  width: 50px;
  height: 25px;
}

.table-pray > tbody > tr:nth-of-type(odd) > * {
  background-color: white;
}

.table-pray tbody td img {
  width: 150px;
}

.table-card > tbody > tr > td > input {
  border: 0px;
  border-radius: 20px;
  background-color: #fcdba3;
  width: 150px;
  padding-left: 10px;
  font-family: NotoSansTC, serif;
  color: #573605;
}

.table-supply > tbody > tr > td > input {
  border: 0px;
  border-radius: 20px;
  background-color: #fcdba3;
  width: 80px;
  padding-left: 10px;
  font-family: NotoSansTC, serif;
  color: #573605;
}

.table > :not(caption) > * > * {
  border-bottom: 0px;
}

.table > * {
  color: #573605;
}

.table > tbody > tr > * {
  padding: 10px 10px;
}

.picbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.firstpic,
.firstpic2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 30px;
}

.saveBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.saveBtn .cancle {
  margin-right: 50px;
  width: 120px;
  height: 42px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  border: 0px;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #FDBF52;
  color: #573605;
  border-radius: 20px;
  color: transparent;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  width: 80px;
}

.saveBtn .cancle::before {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  padding-top: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  color: rgba(255, 255, 255, 0.9);
  margin-top: -1em;
}

.saveBtn .cancle::after {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 10px;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #573605;
}

.saveBtn .cancle:hover::before {
  opacity: 1;
  margin-top: 0;
}

.saveBtn .cancle:hover::after {
  opacity: 0;
  margin-top: -1em;
}

.saveBtn .save {
  margin-right: 50px;
  width: 120px;
  height: 42px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  border: 0px;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #FDBF52;
  color: #573605;
  border-radius: 20px;
  color: transparent;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  width: 80px;
}

.saveBtn .save::before {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  padding-top: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  color: rgba(255, 255, 255, 0.9);
  margin-top: -1em;
}

.saveBtn .save::after {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 10px;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #573605;
}

.saveBtn .save:hover::before {
  opacity: 1;
  margin-top: 0;
}

.saveBtn .save:hover::after {
  opacity: 0;
  margin-top: -1em;
}

.pagelist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 60px;
  border: none;
  padding-top: 60px;
}

.pagelist a {
  text-decoration: none;
  background-color: #FCDBA3;
  color: #573605;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 40px;
  font-size: 16px;
}

.pagelist a:first-child {
  border-radius: 20px 0px 0px 20px;
}

.pagelist a:last-child {
  border-radius: 0px 20px 20px 0px;
}

.pagelist a:hover {
  background-color: #FDBF52;
}

.table-pomemange > tbody > tr > td > textarea {
  width: 380px;
  height: 120px;
  padding: 10px 5px 0 10px;
  overflow: hidden;
  background-color: #FDBF52;
  border: 0px;
  border-radius: 20px;
  text-align: left;
}

.table-pomemange > tbody > tr > td > select {
  background-color: #FDBF52;
  border-radius: 20px;
}

.table-card > tbody > tr > td > select {
  background-color: #FDBF52;
  border-radius: 20px;
  font-family: NotoSansTC, serif;
  color: #573605;
}

.table-unpomes > tbody > tr > td > textarea {
  width: 380px;
  height: 120px;
  padding: 10px 5px 0 10px;
  overflow: hidden;
  background-color: #fdbf52;
  border: 0px;
  border-radius: 20px;
  text-align: left;
}

.table-unpomes > tbody > tr > td > select {
  background-color: #fdbf52;
  border-radius: 20px;
}

.memberDetail .updatefile,
.prayRecorder .updatefile,
.cardManage .updatefile,
.supply .updatefile {
  text-align: center;
  background-color: #fdbf52;
  font-family: NotoSansTC, serif;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 30px;
}

.memberDetail input[type="file"],
.prayRecorder input[type="file"],
.cardManage input[type="file"],
.supply input[type="file"] {
  display: none;
}

.memberDetail span,
.prayRecorder span,
.cardManage span,
.supply span {
  font-family: NotoSansTC, serif;
  font-size: 18px;
  font-weight: 700;
  color: #573605;
}

.memberDetail .table-supply > tbody > tr > th > input,
.prayRecorder .table-supply > tbody > tr > th > input,
.cardManage .table-supply > tbody > tr > th > input,
.supply .table-supply > tbody > tr > th > input {
  border: 0px;
  border-radius: 20px;
  background-color: #fcdba3;
  width: 80px;
  font-family: NotoSansTC, serif;
  color: #573605;
  width: 70px;
  text-align: center;
}

.memberDetail .table-supply > tbody > tr > td > input,
.prayRecorder .table-supply > tbody > tr > td > input,
.cardManage .table-supply > tbody > tr > td > input,
.supply .table-supply > tbody > tr > td > input {
  border: 0px;
  border-radius: 20px;
  background-color: #fcdba3;
  width: 80px;
  text-align: center;
  font-family: NotoSansTC, serif;
  color: #573605;
  width: 150px;
}

.memberDetail .pagelist,
.prayRecorder .pagelist,
.cardManage .pagelist,
.supply .pagelist {
  padding-top: 10px;
}

.memberDetail .pagelist a,
.prayRecorder .pagelist a,
.cardManage .pagelist a,
.supply .pagelist a {
  width: 30px;
  height: 40px;
  font-size: 16px;
}

.memberDetail .pagelist a:nth-child(2),
.prayRecorder .pagelist a:nth-child(2),
.cardManage .pagelist a:nth-child(2),
.supply .pagelist a:nth-child(2) {
  border-radius: 20px 0px 0px 20px;
  width: 50px;
}

.memberDetail .pagelist a:last-child,
.prayRecorder .pagelist a:last-child,
.cardManage .pagelist a:last-child,
.supply .pagelist a:last-child {
  width: 50px;
}

.memberDetail .pagelist h4,
.prayRecorder .pagelist h4,
.cardManage .pagelist h4,
.supply .pagelist h4 {
  color: #927858;
  font-size: 18px;
  font-family: NotoSansTC, serif;
  font-weight: 700;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
}

.table-card input {
  background-color: #fdbf52;
  border-radius: 20px;
}

.table-card .cardimg {
  width: 300px;
}

.table-pomemange input {
  margin-left: 15px;
  display: none;
}

.table-pomemange .btn {
  width: 90px;
  height: 30px;
  line-height: 17px;
  background-color: #fdbf52;
  border-radius: 16px;
  margin-left: 30px;
}

.picbox img {
  width: 300px;
  height: 385px;
}

.table-amulet textarea {
  width: 280px;
  height: 120px;
  padding: 10px 5px 0 10px;
  overflow: hidden;
  background-color: #fdbf52;
  border: 0px;
  border-radius: 20px;
  text-align: left;
}

.table-amulet select {
  width: 60px;
  height: 30px;
  line-height: 15px;
  padding: 0 0 0 10px;
  overflow: hidden;
  background-color: #fdbf52;
  border: 0px;
  border-radius: 20px;
  text-align: left;
}

.table-amulet .godImg {
  width: 180px;
  margin-bottom: 10px;
}

.table-amulet .godImg img {
  width: 100%;
}

.table-amulet input {
  margin-left: 15px;
  display: none;
}

.table-amulet .btn {
  width: 90px;
  height: 30px;
  line-height: 17px;
  background-color: #fdbf52;
  border-radius: 16px;
  margin-left: 30px;
}

.zodiac-Manage-second {
  width: 80%;
}

.table-zodiac select {
  width: 60px;
  height: 30px;
  line-height: 15px;
  padding: 0 0 0 10px;
  overflow: hidden;
  background-color: #fdbf52;
  border: 0px;
  border-radius: 20px;
  text-align: left;
}

.table-zodiac .zodiacImg {
  width: 250px;
  margin-bottom: 10px;
}

.table-zodiac .zodiacImg img {
  width: 100%;
  border-radius: 20px;
}

.table-zodiac input {
  margin-left: 15px;
  display: none;
}

.table-zodiac .btn {
  width: 90px;
  height: 30px;
  line-height: 17px;
  background-color: #fdbf52;
  border-radius: 16px;
  margin-left: 30px;
}
/*# sourceMappingURL=sidebar.css.map */