@import 'base/var';
@import 'mixin/modules';

body{
    background: map-get($color, mainyellow);    
}

section{
    width: 90%;
    margin:auto;
    color: map-get($color, darkbrown);
    font-family: NotoSansTC, serif;   
}

//雙向綁定




.diy p{
    writing-mode: vertical-rl;
    height: 4em;
    font-size: 2em;
    color: rgba(248, 248, 248, 0.8);
    line-height:140%;
    position: absolute;
    top: 35%;
    left: 37%;
}



.prod-bg{
    position: relative;
}


.prod{
    margin-top: 60px;    
    position: relative;
}

.basicImage img{
    width: 100%;
    border-radius: 20px;
    border: 1px solid map-get($color, darkbrown);
}

.frontImage{
    position: absolute;
    top: 31%;
    left: 29%;
    width: 43.5%;
    z-index: 10;
}

.animalImage{
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
}

.animalImage img{
    width: 100%;
    border-radius: 20px;
    border: 1px solid map-get($color, darkbrown);
}




.prod-bg img{
    width: 100%;
}

.prod-sm{
    display: flex; 
    margin-top: 15px;   
}

.front{
    position: relative;
}


.pic{
    border-radius: 10px;
    width: 80px;
    height: 80px;
    text-align: center;
    position: relative;
    margin-right: 15px;
}


.frontType{
    position: absolute;
    top:32.5%;
    left:27.5%;
    z-index: 2;
    width: 38px;
}

.frontType img{
    width: 100%;
}

.frontAnimal{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border: 1px solid map-get($color, darkbrown);
    border-radius: 10px;
}

.frontAnimal img{
    width: 100%;
    border-radius: 10px;
}

.back{
    position: relative;
}

.diySm{
    color: rgba(248, 248, 248, 0.8);
    position: absolute; 
    top: 17%;
    left: 22%;
    z-index: 1; 
    writing-mode:vertical-rl;
    transform: scale(.5);
    height: 4em;
    line-height:140%;
}



.title h1{
    font-size:map-get($fontSize , webp);
    margin: 15px 0;
    font-family: NotoSansTC;

}
.title span{
    font-size:map-get($fontSize , weblp);
}


.select-type{
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

h4{
    font-size:map-get($fontSize , weblp);
}

.select-type select{
    font-size:map-get($fontSize , weblp);
    color:map-get($color, darkbrown);
    width: 100px;
    height: 40px;
    line-height: 36px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid map-get($color, darkbrown);
    margin-left: 15px;
    font-family: NotoSansTC, serif;
}

.select-typewrap a{
    font-size:map-get($fontSize , minifont);
    color:map-get($color, darkbrown);
    margin-left: 30px;
    font-family: NotoSansTC, serif;
}


.select-wrap select{
    font-size:map-get($fontSize , weblp);
    color:map-get($color, darkbrown);
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
    border: 1px solid map-get($color, darkbrown);
    margin-left: 15px;
    font-family: NotoSansTC, serif;
}

.select-wrap{
    display: flex;
}
.zodiac{
    display: flex;
    align-items:center;
}
.amount{
    margin-left: 40px;
    display: flex;
    align-items:center;
}

.many{
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.modify{
    font-size: 24px;
    color: map-get($color, darkbrown);
    background-color: transparent;
    border: none;
}
.num{
    color: map-get($color, darkbrown);
    width: 60px;
    height: 36px;
    border-radius: 19px;
    border: 1px #573605 solid;
    text-align: center;
}

textarea{
    font-size:map-get($fontSize , minifont);
    color: map-get($color, darkbrown);
    text-align: center;
    border: 1px solid map-get($color, darkbrown);
    font-family: NotoSansTC, serif;
}

.customiz textarea{
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 22px;
    margin-top: 15px;
}
.shop{
    width: 100%;
    max-width: 500px;
    margin: 50px auto 40px auto;
    display: flex;
    justify-content: space-between;
}


button{
    @include btnlocal();
    font-family: NotoSansTC, serif;
}

.intro textarea{
    display: none;
}


//RWD

@include tabletV() {
    .diy p{
        font-size:4em;
    }
}



  
@include tabletH() {
    .wrap{
        width: 90%;
        display: flex;
        padding-top: 100px;
        padding-bottom: 100px;
        @include maxWidth();
    }
    .prod{
        margin-right: 30px;
    }
  

    .prod-bg{
        width: 480px;
    }
    .prod-bg img{
        width: 100%;
    }

    .title {
        font-size: map-get($fontSize, webh3);
    }
    .title span{
        font-size: map-get($fontSize, webh3);
    }

    .customiz textarea{
        font-size: map-get($fontSize, navfont);
        width: 100%;
        height: 90px;
        line-height:90px;
        margin-top: 20px;
    }

    .select-typewrap a{
        display: none;
    }

    .intro textarea{
        font-size: map-get($fontSize, navfont);
        width: 100%;
        height: 70px;
        line-height: 70px;
        border-radius: 20px;
        display: block;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    button{
        @include btnAmulet();
        font-family: NotoSansTC, serif;
        
    }

    .diy p{
        font-size:2.8em;
    }

  
 
}


