@import 'base/var';
@import 'base/reset';
@import 'mixin/modules';
@include NotoSansTC();

.containerId,
.containerId2 {
  max-width: 375px;
  width: 100%;
  background-color: #FFFAE7;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 65px;
  position: relative;

  @include tabletV() {
    max-width: 768px;
  }

  @include tabletH() {
    max-width: 1024px;
  }

  @include laptop() {
    max-width: 1200px;
  }
}

.boxContainer,
.boxContainer2 {
  width: 100%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include smallBorderR;
  margin: auto;

  @include tabletV() {
    max-width: 400px;
    border: 1px solid #573605;
    background-color: rgb(255, 255, 255);
  }

  @include tabletH() {}

  @include laptop() {}

}


.showAdd {
  display: none;
}

.showLogin {
  display: none;
}

.boxMember {
  margin: 15px 10px;

  @include tabletV() {
    margin: 25px 70px;
  }

  @include tabletH() {}

  @include laptop() {}

  P {
    color: #573605;
    font-family: NotoSansTC, serif;
    font-size: map-get($fontSize, webp);
    margin-right: 150px;
    width: 100px;

    @include tabletV() {
      margin-right: 200px;
    }

    @include tabletH() {}

    @include laptop() {}
  }

  .boxData {
    margin: 0 50px;

  }
}

.boxMember .textId {
  color: #573605;
  font-size: map-get($fontSize, webp);
  font-family: NotoSansTC, serif;
  cursor: pointer;

  @include tabletV() {
    font-size: map-get($fontSize, webp);
  }

  @include tabletH() {}

  @include laptop() {}
}

.boxMember .textId2 {
  opacity: 0.5;
}


.boxMember .textFixpwd {
  color: #573605;
  opacity: 0.5;
  font-size: map-get($fontSize, webp);
  font-family: NotoSansTC, serif;
  cursor: pointer;
  margin-left: 20px;

  @include tabletV() {
    margin-left: 40px;
    font-size: map-get($fontSize, webp);
  }

  @include tabletH() {}

  @include laptop() {}
}

.boxMember .textFixpwd2 {
  opacity: 1;
}

.boxData .textName,
.textPhone,
.textEmail,
.textPwd {
  padding: 10px 0px;
  width: 250px;

  @include tabletV() {
    width: 300px;
    background-color: rgb(255, 255, 255);
  }

  @include tabletH() {}

  @include laptop() {}

}

.boxData span {
  padding: 2px;
  display: block;
  color: #573605;
  background-color: #FFFAE7;
  font-size: map-get($fontSize, navfont);
  font-family: NotoSansTC, serif;

  @include tabletV() {
    background-color: transparent;
  }
}

.boxData input {
  border: none;
  background-color: #FFFAE7;
  border-bottom: 1px solid #573605;
  width: 250px;
  font-size: map-get($fontSize, weblp);
  font-family: NotoSansTC, serif;
  color: #573605;

  @include tabletV() {
    background-color: transparent;
    width: 300px;
  }
}

.boxBtn .btnSave {
  margin-top: 15px;
  margin-bottom: 10px;
  @include btnlocal;
  @include flexCenter;
  width: 250px;
  cursor: pointer;

  @include tabletV() {
    width: 300px;
  }

}


.boxBtn .btnCancel {
  margin-bottom: 30px;
  @include btnlocal;
  @include flexCenter;
  width: 250px;
  cursor: pointer;

  @include tabletV() {
    width: 300px;
  }
}

// 個人紀錄  第一組 Center CSS
section {
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
}

.wrapp {
  width: 100%;
  max-width: 375px;
  background-color: #FFFAE7;
  margin: auto;

  position: relative;
  display: none;

  @include tabletV() {
    max-width: 768px;
    display: unset;
  }

  @include tabletH() {
    max-width: 1024px;
  }

  @include laptop() {
    max-width: 1200px;
  }
}

//  第一組 Center CSS

.wrapp h2 {
  font-size: map-get($fontSize, webh2);
  font-weight: 700;
  color: #573605;
  text-align: center;
  margin-bottom: 30px;
}

.wrapp span {
  text-align: right;
  color: #573605;
  display: block;
  margin-bottom: 15px;

  @include tabletV() {
    position: absolute;
    top: 30px;
    right: 0px;
    text-decoration: underline;
  }

  @include laptop() {
    top: 30px;
    right: 0px;
  }
}

.boxRec1,
.boxRec2,
.boxRec3 {
  width: 100%;
  max-width: 335px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #573605;
  @include smallBorderR;
  margin: auto;

  @include tabletV() {
    max-width: 768px;
  }

  @include tabletH() {
    max-width: 1024px;
  }

  @include laptop() {
    max-width: 1200px;
  }

  .bold {
    font-weight: 700;
  }

  .boxMem {
    display: flex;

    button {
      text-decoration: none;
      list-style: none;
      color: #573605;
      background-color: #FDBF52;
      flex-grow: 1;
      padding: 20px 0;
      text-align: center;
      border: 1px solid #573605;
      font-size: map-get($fontSize, weblp);
    }

    .mPray {
      border-top-left-radius: 20px;
      border: none;


      &:hover {
        background-color: #FCDBA3;
      }

    }

    .mPomes {
      border: none;
      border-left: 1px solid #573605;

      &:hover {
        background-color: #FCDBA3;
      }
    }

    .mOrder {
      border: none;
      border-top-right-radius: 20px;
      border-left: 1px solid #573605;

      &:hover {
        background-color: #FCDBA3;
      }
    }

    .mBg {
      background-color: #fff;
    }
  }
}

.showRec1,
.showRec2,
.showRec3 {
  display: none;
}

.boxItem {
  width: 100%;
  max-width: 335px;
  text-align: center;

  table tr td img {
    width: 180px;
  }

  table {
    width: 100%;
  }

  @include tabletV() {
    max-width: 768px;
    display: flex;
    align-items: center;

  }

  @include tabletH() {
    max-width: 1024px;
  }

  @include laptop() {
    max-width: 1200px;
  }

  tr:nth-of-type(even)>* {
    background-color: rgba(255, 250, 231, 0.85);
  }

  table tr td {
    vertical-align: middle;
    padding: 30px 0px;
    color: #573605;
    border-top: 1px solid #573605;
    font-family: NotoSansTC, serif;
    font-size: map-get($fontSize, weblp);

    @include tabletV() {
      flex-grow: 1;
      text-align: center;
      border-top: none;

    }

    @include tabletH() {}

    @include laptop() {}
  }
}


.arrow {
  border-top: 1px solid #573605;
  display: flex;

  @include tabletV() {
    display: none;
  }

  @include tabletH() {}

  @include laptop() {}
}

.arrow img {
  padding: 30px 20px;
}


.arrow img:nth-child(1) {
  transform: rotate(180deg);
  margin-right: auto;
}

.arrow img:nth-child(2) {
  margin-left: auto;
}

//彈窗

.loginbox {
  background-color: rgba(92, 91, 88, 0.3);
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.loginbox .loginContent {
  width: 300px;
  height: 250px;
  margin-top: 100px;
  text-align: center;
}

.loginContent img {
  width: 100%;

}

.btnCancel {
  margin-top: 10px;
  cursor: pointer;
  width: 120px;
  height: 42px;
  background-color: #FDBF52;
  line-height: 21px;
  text-align: center;
  border: 0px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}