@import 'base/reset';
@import 'base/var';
@import 'mixin/modules';

body {
  background: map-get($color, mainyellow);
}

section {
  max-width: 1400px;
  margin: auto;
}

.onlinepomesWrap {
  padding-top: 120px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 335px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;

  @include tabletV() {
    padding-top: 210px;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 768px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    // background-color: aqua;
  }

  @include tabletH() {
    max-width: 1000px;
    // background-color: black;
  }

}

.onlinePic {
  position: relative;
  max-width: 370px;
  width: 100%;
}

.onlinePic img {
  max-width: 263px;
  width: 100%;

  @include tabletV() {
    // margin-top: 100px;
  }

  @include tabletH() {
    max-width: 370px;

  }
}

.lick p {
  position: absolute;
  top: 60px;
  right: 113px;
  font-family: NotoSansTC;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: #573605;
  text-shadow: 0em 0em 0.1em rgb(187, 130, 64);
  -webkit-animation: jump 1s ease-out;
  -moz-animation: jump 1s ease-out;
  animation: jump 1s ease-out;
  transform: rotate(5deg);

  @-webkit-keyframes jump {
    0% {
      transform: translateY(1000px);
    }

    100% {
      transform: translateY(500px);
    }
  }

  @keyframes jump {
    0% {
      transform: translateY(100px);
    }

    100% {
      transform: translateY(0px);
    }
  }

  @include tabletV() {
    top: 20px;
    right: 123px;

  }

  @include tabletH() {
    font-size: 25px;
    top: 60px;
    right: 107px;

  }
}

.lick img {
  position: absolute;
  top: -60px;
  right: 85px;
  max-width: 75px;
  width: 100%;
  -webkit-animation: jump 1s ease-out;
  -moz-animation: jump 1s ease-out;
  animation: jump 1s ease-out;

  @-webkit-keyframes jump {
    0% {
      transform: translateY(1000px);
    }

    100% {
      transform: translateY(500px);
    }
  }

  @keyframes jump {
    0% {
      transform: translateY(100px);
    }

    100% {
      transform: translateY(0px);
    }
  }

  @include tabletV() {
    right: 95px;
    top: -100px;

  }

  @include tabletH() {
    max-width: 100px;
    width: 100%;
    right: 70px;

  }
}

.lickboxPic img {
  position: absolute;
  top: 145px;
  left: 36px;

  @include tabletV() {
    left: 53px;
  }

  @include tabletH() {
    top: 205px;
    left: 1px;

  }
}

.onlineContent {

  width: 100%;
  text-align: center;

  @include tabletV() {
    margin-top: -130px;
    text-align: left;
    width: 60%;
  }

  @include tabletH() {
    margin-top: 0px;
    padding-left: 100px;
  }

}

.onlineText h2 {
  margin-bottom: 10px;
  width: 100%;
  font-family: NotoSansTC;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #573605;

  @include tabletH() {
    font-size: 32px;
  }
}

.onlineText p {
  width: 100%;
  margin-bottom: 10px;
  font-family: NotoSansTC;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: #927858;
}

.onlineBtn button {
  font-family: NotoSansTC;
  // margin-bottom: 20px;
  width: 120px;
  height: 42px;
  font-size: map-get($fontSize, weblp);
  line-height: 21px;
  text-align: center;
  @include btnlocal();

  @include tabletV() {
    margin-bottom: 20px;
  }
}

.onlineNotice {
  display: none;

  @include tabletV() {
    display: unset;
    margin: auto;
    text-align: left;
    max-width: 300px;
    width: 100%;
    font-family: NotoSansTC;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */
    letter-spacing: 0.2px;
    color: #927858;
  }

  @include tabletH() {
    margin: 0;
  }

}

.throwPlace {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

  @include tabletV() {
    justify-content: start;
    align-items: center;
  }
}

.throwPic {

  margin: auto;
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-bottom: 20px;

  @include tabletV() {
    margin: 0;
  }
}

.throwPic .result p {
  font-family: NotoSansTC;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #573605;
}

.throwPic img {
  padding-right: 10px;
  width: 100px;

  @include tabletV() {
    padding-right: 10px;
  }
}