@import 'base/reset';
@import 'base/var';
@import 'mixin/modules';

body {
  background: map-get($color, mainyellow);
}

section {
  max-width: 1400px;
  margin: auto;
}

.onlinepomesWrap {
  padding-top: 120px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 335px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;

  @include tabletV() {
    padding-top: 210px;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 768px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    // background-color: aqua;
  }

  @include tabletH() {
    max-width: 1000px;
    justify-content: space-between;
    // background-color: black;
  }

}

.onlinePic {
  max-width: 370px;
  width: 100%;
  z-index: -1;
}

.onlinePic .pomesLots {
  max-width: 370px;
  width: 100%;
}

@-webkit-keyframes shake {

  0%,
  80% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  15% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  30% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  40% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  50% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  60% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  70% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}

.onlinePic {
  -webkit-animation: shake;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  background: none;
  // height: 50px;
  // width: 50px
}

.onlinePic img {
  margin-top: 20px;
  max-width: 263px;
  width: 100%;

  @include tabletV() {
    margin-top: 0px;
  }

  @include tabletH() {
    max-width: 370px;

  }
}

.onlinePic .pomesLots .lots img {
  max-width: 370px;
  width: 100%;
  margin-top: 20px;
  max-width: 263px;
  width: 100%;

  @include tabletV() {
    margin-top: 0px;
  }

  @include tabletH() {
    max-width: 100px;

  }
}

.onlineContent {
  // max-width: 400px;
  width: 100%;
  text-align: center;

  @include tabletV() {
    // padding-left: 100px;
    text-align: left;
    width: 60%;
  }

  @include tabletH() {
    padding-left: 100px;
  }
}

.onlineText h2 {
  margin-bottom: 10px;
  width: 100%;
  font-family: NotoSansTC;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #573605;

  @include tabletH() {
    font-size: 32px;
  }
}

.onlineText p {
  width: 100%;
  margin-bottom: 10px;
  font-family: NotoSansTC;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: #927858;
}

.onlineBtn button {
  font-family: NotoSansTC;
  margin-bottom: 20px;
  width: 120px;
  height: 42px;
  font-size: map-get($fontSize, weblp);
  line-height: 21px;
  text-align: center;
  @include btnlocal();
}

.onlineNotice {
  display: none;

  @include tabletV() {
    display: unset;
    margin: auto;
    text-align: left;
    max-width: 300px;
    width: 100%;
    font-family: NotoSansTC;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */
    letter-spacing: 0.2px;
    color: #927858;
  }

  @include tabletH() {
    margin: 0;
  }

}