<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOBIO｜平安符願</title>
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/amulet.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>

</head>

<body>
    <header id="mainheader">
        <div class="headerWrap">
            <div class="logo">
                <a href="mainpage.html">
                    <img src="img/header/BOBIO_logo.svg" />
                </a>
            </div>
            <nav class="navPostion">
                <ul>
                    <li>
                        <div class="member">
                            <a href="memberAdd.html"><img src="img/header/member.svg" /></a>
                        </div>
                        <div class="logout">
                            <span v-text="losituation" @click="logout"></span>
                        </div>
                    </li>
                    <li>
                        <a href="pray.html">立即祈願</a>
                    </li>
                    <li>
                        <a href="onlinepomes.html">線上求籤</a>
                    </li>
                    <li>
                        <a href="amulet.html">平安符願</a>
                    </li>
                    <li>
                        <a href="money.html">立即結緣</a>
                    </li>
                    <li>
                        <a href="Abouts.html">關於我們</a>
                    </li>
                </ul>
            </nav>
            <div class="cart">
                <a href="shopping_cart1.html"><img src="img/header/cart.svg" /></a>
            </div>
            <div class="member">
                <a href="memberAdd.html"><img src="img/header/member.svg" /></a>
            </div>
            <div class="logout">
                <span v-text="losituation" @click="logout"></span>
            </div>
            <div class="outerHb">
                <div class="hb" @click="hb">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </header>

    <div class="wrap" id="app">
        <section class="prod">
            <div class="prod-bg">
                <div class="basicImage">
                    <img :src="imageSrcAnimal" alt="amulet">
                </div>
                <div class="frontImage">
                    <img v-if="front" :src="imageSrc" alt="god">
                </div>
                <div class="animalImage">
                    <img v-if="front" :src="imageSrcAnimal" alt="animal">
                </div>
                <div class="backImage" v-if="back">
                    <!--背面文字部分-->
                    <div class="diy">
                        <p>{{message}}</p>
                    </div>
                </div>
            </div>
            <div class="prod-sm">
                <div class="pic front" @click="frontclick">
                    <div class="pic frontType"><img :src="imageSrc" alt="amulet"></div>
                    <div class="pic frontAnimal"><img :src="imageSrcAnimal" alt="amulet"></div>
                </div>
                <div class="pic back" @click="backclick">
                    <div class="frontAnimal"><img :src="imageSrcAnimal" alt="amulet"></div>
                    <div class="diySm">
                        <p>{{message}}</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="container">
            <div class="content-wrap">
                <div class="title">
                    <h1>專屬於您的平安符</h1>
                    <span>NT$399</span>
                </div>
                <div class="select-typewrap">
                    <div class="introWrap">
                        <div class="select-type">
                            <h4>種類</h4>
                            <select name="種類" id="" v-model="type" @change="typeClick()">
                                <option value="感情" selected>感情</option>
                                <option value="事業">事業</option>
                                <option value="財富">財富</option>
                                <option value="平安">平安</option>
                                <option value="健康">健康</option>
                                <option value="學業">學業</option>
                            </select>
                        </div>
                        <div class="mdIntro">
                            <button class="typeIntro" @click="introClick = true">
                                簡介
                            </button>
                            <transition name="fade" appear>
                                <div class="modal-overlay" v-if="introClick" @click="introClick = false"></div>
                            </transition>

                            <transition name="slide" appear>
                                <div class="modal" v-if="introClick">
                                    <h1 v-text="type"></h1>
                                    <p v-text="typeIntro"></p>
                                    <div class="typeIntro-back">
                                        <button data-hover="返回" @click="introClick = false">
                                            返回
                                        </button>
                                    </div>

                                </div>
                            </transition>
                        </div>
                    </div>

                    <div class="intro">
                        <textarea name="簡介" id="" v-model="typeIntro" cols="30" rows="5">
                            <p></p>
                        </textarea>
                    </div>
                </div>
                <div class="select-wrap">
                    <div class="zodiac">
                        <h4>生肖</h4>
                        <select name="種類" id="" v-model="animal" @change="animalClick">
                            <option value="鼠" selected>鼠</option>
                            <option value="牛">牛</option>
                            <option value="虎">虎</option>
                            <option value="兔">兔</option>
                            <option value="龍">龍</option>
                            <option value="馬">馬</option>
                            <option value="羊">羊</option>
                            <option value="猴">猴</option>
                            <option value="雞">雞</option>
                            <option value="狗">狗</option>
                            <option value="豬">豬</option>
                        </select>
                    </div>
                    <div class="amount">
                        <h4>數量</h4>
                        <div class="many">
                            <input type="button" value="-" class="modify del" @click="count -=1">
                            <input type="text" value="1" v-model="count" min="1" class="num">
                            <input type="button" value="+" class="modify add" @click="count +=1">
                        </div>
                    </div>
                </div>
                <div class="customiz">
                    <h3>客製化文字</h3>
                    <textarea v-model="message" @click="diyclick" cols="30" rows="5"
                        placeholder="請輸入客製化文字（8字），如:吉祥如意萬事安康" maxlength="8"></textarea>
                </div>
                <div class="shop">
                    <button data-hover="立即購買" @click="add">立即購買</button>
                    <button data-hover="加入購物車" @click="add">加入購物車</button>
                </div>
            </div>
        </section>
    </div>
    <footer>
        <div class="footer-wrap">
            <div class="footer-logo">
                <img src="./img/header/BOBIO_logo.svg" alt="bobio">
            </div>
            <div class="footer-slog">
                <span>用BOBIO就有保佑</span>
            </div>
            <div class="footer-info">
                <div class="list">
                    <ul>
                        <li><a href="pray.html">立即祈願</a></li>
                        <li><a href="onlinepomes.html">線上求籤</a></li>
                        <li><a href="amulet.html">平安符願</a></li>
                        <li><a href="money.html">立即結緣</a></li>
                        <li><a href="Abouts.html">關於我們</a></li>
                    </ul>
                </div>
                <div class="conn">
                    <p>
                        bobio@temple.com<br>
                        02-1090-1090
                    </p>
                    <div class="info-icon">
                        <a href="#"><img src="./img/footer/Group 415.svg" alt="facebook"></a>
                        <a href="#"><img src="./img/footer/Group 295.svg" alt="instagram"></a>
                        <a href="#"><img src="./img/footer/Group 296.svg" alt="youtube"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>
                Copyright © 2021Bobio
                本網站為緯育TibaMe_前端設計工程師班第71期學員專題成果作品，本平台僅供學習、展示之用。若有抵觸有關著作權，或有第三人主張侵害智慧財產權等情事，均由學員負法律上責任，緯育公司概不負責。若有侵權疑慮，您可以私訊[緯育TibaMe]，後續會由專人協助處理。
            </p>
        </div>
    </footer>




</body>

<script>
    //header 
    new Vue({
        el: '#mainheader',
        data() {
            return {
                screenWidth: null,
                personaldata: [],
                losituation: "",
            }
        },
        created() {
            this.screenWidth = document.body.clientWidth;//營幕寬
            //以下讀取會員資料
            let array = JSON.parse(localStorage.getItem('personallogin'));//抓localStorage存入變數
            this.losituation = null;//登入登出狀態
            if (array != null) {
                axios.post('phps/memberExbody.php', {
                    mem_no: array[0].mem_no,
                    mem_id: array[0].mem_id,
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then((res) => {
                    this.losituation = "登出";//登入登出狀態
                    this.personaldata = res.data[0];
                }).catch(error => this.personaldata = res.data);
            };
            //以上讀取會員資料
            window.onresize = () => {
                return (() => {
                    this.screenWidth = document.body.clientWidth;
                })()
            }
            $(`header .headerWrap ul li:nth-child(4) a`).addClass('bottomnavline');
        },
        watch: {
            screenWidth: {
                handler: function (newval, oldval) {
                    if (newval >= 1200) {
                        $(`header>.headerWrap>nav`).removeClass('navPostion');
                        $(`header>.headerWrap>nav li:first-child`).css('display', 'none');
                        $(`header>.headerWrap>.member`).css('display', 'flex');
                        $(`header>.headerWrap>.logout`).css('display', 'block');
                    } else if (newval < 1200) {
                        $(`header>.headerWrap>nav`).addClass('navPostion');
                        $(`header>.headerWrap>nav li:first-child`).css('display', 'flex');
                        $(`header>.headerWrap>.member`).css('display', 'none');
                        $(`header>.headerWrap>.logout`).css('display', 'none');
                    }
                },
                immediate: true,
            }
        },
        methods: {
            hb() {
                let place = $("nav").css("right");
                if (place < "0px") {
                    $("nav").animate({
                        right: 0,
                    }, 1200, 'easeInBounce')
                } else {
                    $("nav").animate({
                        right: "-30%",
                    }, 1200, 'easeOutBounce')
                }
            },
            logout() {
                localStorage.removeItem('personallogin');
                location.href = "mainpage.html";
            },
        },
    });


    new Vue({
        el: "#app",
        data() {
            return {
                front: true,
                back: false,
                typeIntro: "月下老人，簡稱月老，為掌管男女姻緣之神，幫助痴男怨女獲得真愛。",
                imageSrc: "./backweb/img/amulet/1.png",
                imageSrcAnimal: "./backweb/img/amulet/amulet_2.jpg",
                imagebackSrc: "./backweb/img/amulet/amulet_bg.jpg",
                message: '',
                cart: [],
                type: '感情',
                animal: '鼠',
                count: 1,
                introClick: false,
                amuletType: [],
                zodiac: [],

            }
        },

        created() {
            //接PHP資料出來
            axios.post('phps/amulet.php', {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then((res) => {
                this.amuletType = res.data;
                // console.log(this.amuletType);                
            })

            axios.post('phps/zodiac.php', {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then((res) => {
                this.zodiac = res.data;
                // console.log(this.zodiac);                
            })
        },


        mounted() {
            if (localStorage.productno) {
                this.cart = JSON.parse(localStorage.getItem("productno"));
            }
        },
        methods: {
            typeClick() {
                this.front = true;
                this.back = false;

                //this.amuletType.length
                for (let i = 0; i < 6; i++) {
                    if (this.type == this.amuletType[i].type_name) {
                        this.typeIntro = this.amuletType[i].type_text;
                        this.imageSrc = "./backweb/" + this.amuletType[i].type_img;
                    }
                }
            },

            showModel() {
                this.showModal = true;
            },


            animalClick() {
                for (i = 0; i < 12; i++) {
                    if (this.animal == this.zodiac[i].zodiac_name) {
                        this.imageSrcAnimal = "./backweb/" + this.zodiac[i].zodiac_img;
                    }
                }
            },

            setMessage() {
                this.message = e.target.value;
            },
            add() {
                let no = this.type + '|' + this.animal + '|' + this.message + '|' + this.count;
                let arr = no.split('|');
                this.cart.push(arr);
                localStorage.setItem("productno", JSON.stringify(this.cart));
                this.type = "";
                this.animal = "";
                this.word = "";
                this.count = "";
                location.href = "shopping_cart1.html";
            },
            backclick() {
                this.front = false;
                this.back = true;
            },
            frontclick() {
                this.front = true;
                this.back = false;
            },
            diyclick() {
                this.front = false;
                this.back = true;
            }

        },
    })

</script>

</html>