<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/sidebar.css" />
    <link rel="stylesheet" href="css/backheader.css" />
    <link href="./css/sidebars.css" rel="stylesheet" />
    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="./js/prayRecorder.js"></script>
    <script src="./js/vue.js"></script>

    <title>後台管理</title>
  </head>

  <body>
    <header id="mainheader">
      <div class="headerWrap">
        <div class="logo">
          <a href="#">
            <img src="img/header/BOBIO_logo.svg" />
          </a>
        </div>
        <div class="member">
          <a href="backweb7_adminList.html"
            ><img src="img/header/member.svg"
          /></a>
        </div>
        <span>登出</span>
      </div>
    </header>

    <div class="wrapp" id="app">
      <!-- sidebar -->
      <div class="sidebar flex-shrink-0 p-3">
        <ul class="list-unstyled ps-0">
          <!-- 祈願項目 -->
          <li class="mb-1">
            <button
              class="btn btn-toggle align-items-center rounded collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#home-collapse"
              aria-expanded="true"
            >
              祈願
            </button>
            <div class="collapse" id="home-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li>
                  <a
                    href="backweb1-1_prayrecorder.html"
                    class="link-dark rounded"
                    id="bpray"
                    >祈願紀錄</a
                  >
                </li>
                <li>
                  <a
                    href="backweb1-2_cardManage.html"
                    class="link-dark rounded"
                    id="bcard"
                    >小卡管理</a
                  >
                </li>
                <li>
                  <a
                    href="backweb1-3_supplyManage.html"
                    class="link-dark rounded"
                    id="bsupply"
                    >供品管理</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <!-- 求籤管理 -->
          <li class="mb-1">
            <button
              class="btn btn-toggle align-items-center rounded collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#dashboard-collapse"
              aria-expanded="false"
            >
              求籤
            </button>
            <div class="collapse" id="dashboard-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li>
                  <a
                    href="backweb2-1_pomes.html"
                    class="link-dark rounded"
                    id="bpomes"
                    >籤詩管理</a
                  >
                </li>
                <li>
                  <a
                    href="backweb2-2_pomeDetail.html"
                    class="link-dark rounded"
                    id="brecorder"
                    >解籤內容管理</a
                  >
                </li>
                <li>
                  <a
                    href="backweb2-3_pomeRecorder.html"
                    class="link-dark rounded"
                    id="pomecontent"
                    >求籤紀錄</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <!-- 平安符管理 -->
          <li class="mb-1">
            <button
              class="btn btn-toggle align-items-center rounded collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#orders-collapse"
              aria-expanded="false"
            >
              平安符
            </button>
            <div class="collapse" id="orders-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li>
                  <a
                    href="backweb3-1_amuletManage.html"
                    class="link-dark rounded"
                    >平安符願管理</a
                  >
                </li>
                <li>
                  <a
                    href="backweb3-2_ZodiacManage.html"
                    class="link-dark rounded"
                    >生肖管理</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <li class="mb-1">
            <button
              class="btn btn-toggle align-items-center rounded collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#account-collapse"
              aria-expanded="false"
            >
              訂單管理
            </button>
            <div class="collapse" id="account-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li>
                  <a
                    href="backweb4-1_productOrders.html"
                    class="link-dark rounded"
                    >商品訂單</a
                  >
                </li>
                <li>
                  <a
                    href="backweb4-2_orderDetails.html"
                    class="link-dark rounded"
                    >訂單明細</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <li class="mb-1">
            <a href="backweb5_memberDetails.html">
              <button class="btn" style="padding-left: 30px">
                會員資料
              </button></a
            >
          </li>
          <li class="mb-1">
            <a href="backweb6_moneyRecord.html">
              <button class="btn" style="padding-left: 30px">
                結緣紀錄
              </button></a
            >
          </li>
        </ul>
      </div>
      <div class="containerbox1">
        <div class="supply">
          <span>平安符願管理</span>
          <img src="img/backweb/backData/backFix.svg" class="showBtn" alt="" />
        </div>

        <!-- 表格內容 -->
        <table class="table table-unpomes">
          <thead>
            <tr>
              <th scope="col">編號</th>
              <th scope="col">種類</th>
              <th scope="col">簡介</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="vertical-align: middle">
                <select name="編號" id="">
                  <option v-for="number in numbers">{{number}}</option>
                </select>
              </td>
              <td style="vertical-align: middle">
                <select name="種類" id="">
                  <option v-for="type in types ">{{type}}</option>
                </select>
              </td>
              <td>
                <textarea name="" id="" cols="10" rows="10">
此籤不宜遠行。只宜守舊。自有超達。時運漸亨。
財祿俱發。訟不宜。財自至。婚可求。名利高。
病獲安。孕生貴子。風水利順。家宅昌隆也。

                </textarea>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- 表格內容結束 -->
        <div class="saveBtn showbtnbox">
          <button class="cancle" data-hover="取消">取消</button>
          <button class="save" data-hover="確認">確認</button>
        </div>
      </div>
    </div>
    <script>
      new Vue({
        el: "#app", // == el:document.getElementById('app')
        data: {
          numbers: ["A", "B", "C", "D", "E", "F"],
          types: ["感情", "平安", "健康", "財富", "事業", "學業"],
        },
      });
    </script>

    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/sidebars.js"></script>
  </body>
</html>
