@import 'base/reset';
@import 'base/var';
@import 'mixin/modules';

@include NotoSansTC();
@include RocknRollOne();



.footer-wrap{
    @include flexCenter();
    background-color: map-get($color, lightbrown);
    padding: 2.5% 5%;
    justify-content:space-between;
}

.footer-logo img{
    width: 77%;
}

.footer-slog{
    color: map-get($color, mainyellow);
    font-size: map-get($fontSize, webh1);
    font-family: RocknRollOne;
    display: none;
}

.footer-info{
    width: 85%;
}


.list ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    display: none;
}

.list ul a{
    color: map-get($color, mainyellow);
    font-size: map-get($fontSize, navfont);
    text-decoration: none;
}

.list ul a:hover{
    color: map-get($color, orange);
}

.conn{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding:10px 0;
    margin: 10px 0;
    border-top: map-get($color, mainyellow) 1px solid;
    border-bottom:  map-get($color, mainyellow) 1px solid;
}
.conn p{
    color: map-get($color, mainyellow);
    font-size: 14px;
    line-height:180%;
}


.info-icon img{
    width: 30px;
    margin-left: 5px;
}

.copyright{
    @include flexCenter();           
    background: map-get($color, darkbrown);
    padding: 3% 5%;    
}

.copyright p{
    color: map-get($color, mainyellow);
    font-size: 9px;
    line-height: 150%;
    text-align: center;
}

//RWD

@include phone() {
    
    

}

@include tabletV() {
    .list ul{
        display:flex;
    } 
    .conn p{
        font-size: map-get($fontSize, navfont);
    }
    .copyright{
        padding: 1% 1%;    
    }
    .footer-info{
        width: 75%;
    }
    .footer-logo img{
        width: 100%;
    }
  
       
}
  
@include tabletH() {
    .footer-logo img{
        width: 100%;
    }
    .footer-info{
        width: 40%;
    }
    .footer-slog{
        display:inline-block;
    }
    .copyright p{
        font-size: map-get($fontSize, navfont);
    }
       
        
}



