@import 'base/reset';
@import 'base/var';
@import 'mixin/modules';

@include NotoSansTC();
@include RocknRollOne();

header {
  @include headerFixed();
  background-color: map-get($color, navColor);
  border-top: 3px solid map-get($color, orange);
}

.headerWrap {
  @include flexCenter();
  @include maxWidth();
  padding: 10px 0px;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: left;
}

header nav li a {
  padding: 0 15px;
}


.logo {
  width: 8%;
  @include flexCenter();
}

.logo img {
  width: 100%;
}

header nav {
  width: 82%;
}

.cart {
  width: 5%;
  @include flexCenter();
}

.cart img {
  width: 100%;
}

.member {
  width: 5%;
  @include flexCenter();
}

.member img {
  width: 100%;
}


header nav a {
  font-family: NotoSansTC, serif;
  font-size: map-get($fontSize, navfont);
  text-decoration: none;
  color: map-get($color, darkbrown);
}

.outerHb {
  @include flexCenter();
  display: none;
  flex-grow: 1;
  width: 5%;
}

@include laptop() {
  .headerWrap {
    justify-content: space-around;
  }

  .logo {
    flex-grow: 30;
    justify-content: left;
    padding-left: 5%;
  }

  .cart {
    flex-grow: 1;
  }

  .member {
    flex-grow: 1;
  }

  .outerHb {
    display: flex;
  }

  .hb {
    width: 30px;
    height: 30px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }

  .hb span {
    width: 32px;
    height: 3px;
    background-color: map-get($color, darkbrown);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
  }

  .hb span:first-child {
    transform: translateY(10px);
  }

  .hb span:last-child {
    transform: translateY(-10px);
  }

  header nav ul {
    flex-direction: column;
  }

  header nav {
    position: absolute;
    background-color: map-get($color, navColor);
    top: 100%;
    right: -30%;
    width: 30%;
    height: calc(100vh - 66px);
    border-top: 3px solid map-get($color, orange);
    opacity: 0.5;
  }

  header nav li a {
    display: block;
    padding: 20px 20px;
  }
}

@include tabletV() {
  .member {
    flex-grow: 3;
  }

  .outerHb {
    flex-grow: 3;
  }

  .outerHb {
    flex-grow: 3;
  }
}

@include phone() {
  .headerWrap {
    padding: 5px 0px;
  }

  header nav {
    height: calc(100vh - 41px);
  }

  .logo img {
    width: 35px;
    height: 25px;
  }

  .cart {
    flex-grow: 4;
  }

  .cart img {
    width: 18.12px;
    height: 20px;
  }

  .member {
    flex-grow: 4;
  }

  .outerHb {
    flex-grow: 4;
  }

  .member img {
    width: 15.75px;
    height: 20px;
  }

  .hb {
    width: 18px;
    height: 14px;
  }

  .hb span {
    width: 18px;
    height: 2.5px;
  }

  .hb span:first-child {
    transform: translateY(7px);
  }

  .hb span:last-child {
    transform: translateY(-7px);
  }
}