@import 'base/var';
@import 'mixin/modules';

body{
  background: map-get($color, mainyellow);
}
.slogan{
  width: 100%;
  height: 760px;
	background-image: url(../img/mainpage/sloganBg.jpg);
	background-position: center;
	background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: RocknRollOne;
  
  .sloganTitle{
    position: absolute;
    color: map-get($color, mainyellow);
    font-size: map-get($fontSize, webh1);
    @include tabletV(){
      font-size: 90px;
    }
    @include tabletH(){
      font-size: 100px;
    }
    @include laptop(){
      font-size: 144px;
    }
  }
}

.memberAd{
  background-image: url(../img/mainpage/memberBg.jpg);
  width: 100%;
  background-position: center;
	background-size: cover;
  @include phone(){
    height: 736px;
  }
  @include tabletV(){
    height: 1000px;
  }
  .advertisement{
  
  }
  .memberContent{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    @include phone(){
      padding: 0 20px;
    };
    @include tabletV(){
      padding-top: 100px;
    };
    h2{
      color: map-get($color, darkbrown);
      font-size: map-get($fontSize, webh2);
    }
    .memberSubTitle{
      color: map-get($color, darkbrown);
      margin: 30px 0;
      font-size: map-get($fontSize, webp);
      @include tabletV(){
        margin: 30px 0 50px 0;
      }
    }
    .memberP{
      color: map-get($color, lightbrown);
      font-size: map-get($fontSize, weblp);
      line-height: 30px;
    }
    .memberPDetail{
      display: none;
      @include tabletV(){
        display: block;
        color: map-get($color, lightbrown);
        font-size: map-get($fontSize, weblp);
        line-height: 30px;
      }
    }
    button{
      @include btnMainPage();
      @include flexCenter();
      margin-top: 60px;
      @include tabletV(){
        margin-top: 70px;
      }
    }
  }
}
.adPray{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 118px;
  @include tabletV(){
    flex-direction: row;
    text-align: left;
    padding-top: 0px;
  };
  .pray{
    padding: 0 20px;
    position: relative;
    @include tabletV(){
      width: 30%;
      margin: auto;
    }
    h2{
      color: map-get($color, darkbrown);
      font-size: map-get($fontSize, webh2);
    }
    .paryContent{
      color: map-get($color, lightbrown);
      font-size: map-get($fontSize, weblp);
      margin-top: 30px;
      line-height: 30px
    }
    button{
      @include btnMainPage();
      @include flexCenter();
      position: relative;
      left: 0;
      right: 0;
      margin: auto;
      top: 100px;
      @include tabletV(){
      margin-right: auto;
      }
    }
  }
  .prayBg{
    width: 100%;
    @include tabletV(){
      width: 50%;
    }
    .webBg{
      display: none;
      @include tabletV(){
        display: block;
        width: 100%;
      };
    }
    .phoneBg{
      width: 100%;
      @include tabletV(){
        display: none;
      };
    }
  }
}
.adPomes{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 118px;
  @include tabletV(){
    flex-direction: row-reverse;
    text-align: left;
    padding-top: 0px;
  };
  .pomes{
    padding: 0 20px;
    position: relative;
    @include tabletV(){
      width: 30%;
      margin: auto;
    }
    h2{
      color: map-get($color, darkbrown);
      font-size: map-get($fontSize, webh2);
    }
    .pomesContent{
      color: map-get($color, lightbrown);
      font-size: map-get($fontSize, weblp);
      margin-top: 30px;
      line-height: 30px
    }
    button{
      @include btnMainPage();
      @include flexCenter();
      position: relative;
      left: 0;
      right: 0;
      margin: auto;
      top: 100px;
      @include tabletV(){
        
      };
    }
  }
  .pomesBg{
    width: 100%;
    @include tabletV(){
      width: 50%;
    };
    .webBg{
      display: none;
      @include tabletV(){
        display: block;
        width: 100%;
      };
    }
    .phoneBg{
      width: 100%;
      @include tabletV(){
        display: none;
      };
    }
  }
}