@import 'base/reset';
@import 'base/var';
@import 'mixin/modules';


button {
  cursor: pointer;
}

section {
  background-color: map-get($color, mainyellow);
}

.money .lanternL,
.money .lanternR {
  display: none;
}

.money {
  @include flexCenter();
  margin-top: 40px;
  padding-top: 10px;
}

.money .moneyBox img {
  width: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.money .moneyBox {
  @include flexCenter();
  flex-direction: column;
}

.money .moneyBox h1 {
  font-family: NotoSansTC, serif;
  font-size: map-get($fontSize, webh2);
  color: map-get($color, darkbrown);
  line-height: 40px;
}

.money .moneyBox p {
  font-family: NotoSansTC, serif;
  font-weight: map-get($fontWeight, pWeight);
  font-size: map-get($fontSize, weblp);
  color: map-get($color, darkbrown);
  line-height: 40px;
  margin-top: 2px;
  margin-bottom: -15%;
}

.money .moneyBox img {
  width: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.money .moneyBox #app>.btn {
  text-align: center;
  margin-bottom: 5%;
}

.money .moneyBox #app .moneyBoxBtn {
  @include btnlocal();
  font-family: NotoSansTC, serif;
  font-weight: map-get($fontWeight, subTitleWeight);
}

::placeholder {
  font-family: NotoSansTC, serif;
  color: map-get($color, placeholder);
}

//vue
#app .inputboxmoney {
  @include jumpBg();
}

#app .inputboxmoneywin {
  @include smallBorderR;
  background-color: #fff;
  width: 300px;
  height: 235px;
  position: relative;
  left: calc(50% - 150px);
  top: calc(50% - 117.5px);
  border: 1px solid map-get($color, lightbrown);
}

#app .inputboxmoneywin h3 {
  font-size: map-get($fontSize, weblp);
  color: map-get($color, darkbrown);
  font-family: NotoSansTC, serif;
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
}

#app .inputboxmoneywin .moneySelect {
  @include flexCenter();
  font-size: map-get($fontSize, weblp);
  color: map-get($color, darkbrown);
  font-family: NotoSansTC, serif;
  text-align: center;
  margin-top: 30px;
}

#app .inputboxmoneywin select {
  @include smallBorderR;
  background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
  font-size: map-get($fontSize, weblp);
  font-weight: map-get($fontWeight, pWeight);
  color: map-get($color, placeholder);
  font-family: NotoSansTC, serif;
  border: 1px solid map-get($color, lightbrown);
  background-color: map-get($color, mainyellow);
  width: 170px;
  padding-left: 10px;
}

#app .inputboxmoneywin .btn {
  @include smallBorderR;
  font-size: map-get($fontSize, weblp);
  font-weight: map-get($fontWeight, pWeight);
  color: map-get($color, darkbrown);
  font-family: NotoSansTC, serif;
  text-align: center;
  margin-top: 40px;
}


#app .inputboxmoneywin .btn button {
  @include btnlocal();
  font-family: NotoSansTC, serif;
}

//信用卡付款
#app .creditcard {
  @include smallBorderR;
  background-color: #fff;
  width: 300px;
  height: 375px;
  position: relative;
  left: calc(50% - 150px);
  top: calc(50% - 187.5px);
  border: 1px solid map-get($color, lightbrown);
  box-sizing: border-box;
  padding: 5px;
}

#app .creditcard h3 {
  font-size: map-get($fontSize, weblp);
  color: map-get($color, darkbrown);
  font-family: NotoSansTC, serif;
  text-align: center;
  margin-top: 20px;
  line-height: 40px;
  font-weight: bold;
}

#app .creditcard ul li {
  font-size: map-get($fontSize, navfont);
  display: flex;
  justify-content: space-between;
  line-height: 40px;
  padding: 6px 0;
  align-items: center;
}

#app .creditcard #creditcardmoney {
  width: 189px;
}

#app .creditcard .cardinfo {
  @include smallBorderR;
  font-size: map-get($fontSize, weblp);
  font-weight: map-get($fontWeight, pWeight);
  color: map-get($color, darkbrown);
  font-family: NotoSansTC, serif;
  text-align: left;
}

#app .creditcard .cardinfo input {
  @include smallBorderR;
  font-size: map-get($fontSize, navfont);
  font-weight: map-get($fontWeight, pWeight);
  color: map-get($color, darkbrown);
  font-family: NotoSansTC, serif;
  border: 1px solid map-get($color, lightbrown);
  background-color: map-get($color, mainyellow);
  width: 170px;
  padding-left: 15px;
}

#app .creditcard .btn {
  text-align: center;
  margin-top: 30px;
}

#app .creditcard button {
  @include btnlocal();
  font-family: NotoSansTC, serif;
}

#app .creditcard .cardinfo ul li:nth-child(4) label:first-child {
  display: flex;
  flex-grow: 1;
  max-width: 99px;
}

#app .creditcard .cardinfo ul li:nth-child(4) .safetitle {
  padding: 0px 5px;
}


#app .creditcard .cardinfo ul li:nth-child(4) {
  @include flexCenter();
  justify-content: flex-start;
}

#app .creditcard .cardinfo ul li:nth-child(4) input {
  box-sizing: border-box;
  width: 65px;
  height: 30px;
  padding-left: 5px;
}

#app .creditcard .cardinfo ul li:nth-child(4) ::placeholder {
  font-size: map-get($fontSize, minifont);
}

//完成動畫
#app .completed {
  background-color: rgb(255, 250, 231);
  width: 100%;
  position: fixed;
  padding-top: 40px;
  top: 0;
  left: 0;
  z-index: 10;
}

#app .completed h1,
p {
  text-align: center;
}

#app .completed .moneyboxdetail {
  width: 100%;
}

#app .completed .btn {
  text-align: center
}

#app .completed .btn button {
  @include btnlocal();
  font-family: NotoSansTC, serif;
  margin-top: 10px;
}

//捐獻完成
#app .moneyboxdetail {
  @include jumpBg();
}

#app .moneyboxdetail .details {
  @include smallBorderR;
  background-color: #fff;
  width: 300px;
  height: 340px;
  position: relative;
  left: calc(50% - 150px);
  top: calc(50% - 170px);
  border: 1px solid map-get($color, lightbrown);
  box-sizing: border-box;
  padding: 20px;
}

#app .moneyboxdetail h3 {
  font-size: map-get($fontSize, webp);
  color: map-get($color, darkbrown);
  font-family: NotoSansTC, serif;
  text-align: center;
  margin-top: 10px;
  line-height: 40px;
  font-weight: bold;
}

#app .moneyboxdetail table {
  font-size: map-get($fontSize, navfont);
  color: map-get($color, darkbrown);
  font-family: NotoSansTC, serif;
  width: 100%;
  margin-top: 20px;
  line-height: 40px;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}

#app .moneyboxdetail td:nth-child(1) {
  width: 35%;
  text-align: right;
  padding: 0 10px;
  background-color: map-get($color, orange);
}

#app .moneyboxdetail td:nth-child(2) {
  text-align: left;
  padding: 0 10px;
  background-color: map-get($color, mainyellow);
}


#app .moneyboxdetail .details .btn {
  text-align: center;
}

#app .moneyboxdetail .details .btn a {
  text-decoration: none;
  color: map-get($color, darkbrown);
  font-family: NotoSansTC, serif;
}

#app .moneyboxdetail .details .btn button {
  @include btnlocal();
  font-family: NotoSansTC, serif;
  margin-top: 20px;
}

//RWD

@include phone() {
  .money {
    margin-top: 40px;
    padding-bottom: 76px;
  }

  .money .moneyBox p {
    margin-top: 11px;
    font-weight: map-get($fontWeight, subTitleWeight);
    margin-bottom: 0;
  }


  #app .inputboxmoneywin {
    width: 335px;
    height: 235px;
    left: calc(50% - 167.5px);
    top: calc(50% - 117.5px);
  }

  #app .creditcard {
    padding: 20px;
    width: 335px;
    height: 375px;
    left: calc(50% - 167.5px);
    top: calc(50% - 187.5px);
  }

  #app .creditcard h3 {
    font-size: map-get($fontSize, weblp);
    color: map-get($color, darkbrown);
    font-family: NotoSansTC, serif;
    text-align: center;
    margin-top: 0;
    line-height: 50px;
    font-weight: bold;
  }

  #app .creditcard .cardinfo ul li:nth-child(4) label:first-child {
    display: flex;
    flex-grow: 1;
    max-width: none;
  }

}

@include tabletV() {
  .money .moneyBox h1 {
    font-family: NotoSansTC, serif;
    font-size: map-get($fontSize, webh1);
    color: map-get($color, darkbrown);
    line-height: 40px;
  }

  .money .moneyBox p {
    font-family: NotoSansTC, serif;
    font-weight: map-get($fontWeight, pWeight);
    font-size: map-get($fontSize, webp);
    color: map-get($color, darkbrown);
    line-height: 40px;
    margin-top: 15px;
    margin-bottom: -20%;
  }

  .money .moneyBox #app .moneyBoxBtn {
    @include btnMainPage();
    font-family: NotoSansTC, serif;
    font-weight: map-get($fontWeight, subTitleWeight);
  }

  #app .inputboxmoneywin {
    width: 600px;
    height: 300px;
    left: calc(50% - 300px);
    top: calc(50% - 250px);
  }

  #app .inputboxmoneywin h3 {
    font-size: map-get($fontSize, webh3);
    margin-top: 30px;
    font-weight: bold;
  }

  #app .inputboxmoneywin .moneySelect {
    margin-top: 60px;
  }

  #app .inputboxmoneywin .btn button {
    margin: 25px 15px;
  }

  #app .creditcard {
    @include smallBorderR;
    background-color: #fff;
    width: 600px;
    height: 400px;
    position: relative;
    left: calc(50% - 300px);
    top: calc(50% - 200px);
    border: 1px solid map-get($color, lightbrown);
    box-sizing: border-box;
    padding: 20px 50px;
  }

  #app .creditcard h3 {
    font-size: map-get($fontSize, webh3);
    margin-top: 10px;
    line-height: 50px;
  }

  #app .creditcard ul li {
    font-size: map-get($fontSize, weblp);
    justify-content: flex-start;
    line-height: 40px;
    padding: 6px 0;
    text-align: left;
    margin: auto;
    align-items: center;
  }

  #app .creditcard .cardinfo ul li label {
    width: 100px;
  }

  #app .creditcard .cardinfo ul li:nth-child(4) label:first-child {
    flex-grow: 0;
  }

  #app .creditcard button {
    margin: 0 10px;
  }

  #app .creditcard .cardinfo input {
    font-size: map-get($fontSize, weblp);
    width: 80%;
    padding-left: 15px;
  }

  #app .creditcard .cardid input {
    font-size: map-get($fontSize, weblp);
    width: 80%;
    padding-left: 16px;
  }


  #app .creditcard .cardinfo ul li:nth-child(4) label:first-child {
    flex-grow: 0;
    width: 100px;
  }

  #app .creditcard .cardinfo ul li:nth-child(4) .safetitle {
    padding: 0px 5px;
  }


  #app .creditcard .cardinfo ul li:nth-child(4) {
    @include flexCenter();
    justify-content: flex-start;
  }

  #app .creditcard .cardinfo ul li:nth-child(4) input {
    box-sizing: border-box;
    width: 150px;
    height: 30px;
    padding-left: 15px;
  }

  #app .creditcard .cardinfo ul li .safetitle {
    text-align: center;
  }

  #app .creditcard .cardinfo ul li:nth-child(4) ::placeholder {
    font-size: map-get($fontSize, weblp);
  }

  #app .completed .btn button {
    @include btnMainPage();
  }

  //捐獻完成
  #app .moneyboxdetail .details {
    width: 600px;
    height: 400px;
    position: relative;
    left: calc(50% - 300px);
    top: calc(50% - 200px);
    border: 1px solid map-get($color, lightbrown);
    box-sizing: border-box;
    padding: 20px 50px;
  }

  #app .moneyboxdetail h3 {
    font-size: map-get($fontSize, webh3);
    margin-top: 20px;
    line-height: 40px;
  }

  #app .moneyboxdetail table {
    font-size: map-get($fontSize, weblp);
    margin-top: 20px;
    line-height: 50px;
  }

  #app .moneyboxdetail td:nth-child(1) {
    padding: 0 20px;
  }

  #app .moneyboxdetail td:nth-child(2) {
    padding: 0 20px;
  }



  #app .moneyboxdetail .details .btn {
    text-align: center;
  }

  #app .moneyboxdetail .details .btn a {
    text-decoration: none;
    color: map-get($color, darkbrown);
    font-family: NotoSansTC, serif;
  }

  #app .moneyboxdetail .details .btn button {
    @include btnlocal();
    font-family: NotoSansTC, serif;
    margin-top: 20px;
  }
}

@include laptop() {
  .money {
    @include maxWidth();
    margin-top: 60px;
    position: relative;
  }

  .money .lanternL {
    display: block;
    text-align: left;
    width: 15%;
  }

  .money .lanternR {
    display: block;
    text-align: right;
    width: 15%;
  }

  .money .lanternL img,
  .money .lanternR img {
    width: 100%
  }

  .money .moneyBox {
    width: 70%;
  }

  .money .moneyBox .img {
    width: 90%;
    margin: auto;
  }

  .money .moneyBox .img img {
    width: 100%;
  }

  .money .moneyBox h1 {
    font-size: map-get($fontSize, webh1);
    margin-top: 60px;
  }

  .money .moneyBox p {
    font-size: map-get($fontSize, webp);
    margin-top: 20px;
    font-weight: map-get($fontWeight, subTitleWeight);
  }

  .money .moneyBox #app .moneyBoxBtn {
    @include btnMainPage();
    font-family: NotoSansTC, serif;
    font-size: map-get($fontSize, webp);
    font-weight: map-get($fontWeight, subTitleWeight);
    position: absolute;
    right: calc(50% - 100px);
  }

  #app .inputboxmoneywin {
    width: 600px;
    height: 275px;
    position: relative;
    left: calc(50% - 300px);
    top: calc(50% - 137.5px);
  }

  #app .inputboxmoneywin h3 {
    font-size: map-get($fontSize, webh3);
    margin-top: 30px;
  }

  #app .inputboxmoneywin p {
    font-size: map-get($fontSize, weblp);
  }

  #app .inputboxmoneywin #inputwin {
    font-size: map-get($fontSize, weblp);
    color: map-get($color, darkbrown);
    margin-top: 40px;
  }

  #app .inputboxmoneywin #inputwin input {
    font-size: map-get($fontSize, weblp);
    width: 400px;
    height: 40px;
    padding-left: 20px;
  }

  #app .inputboxmoneywin .btn button {
    @include btnlocal();
    font-family: NotoSansTC, serif;
  }

  .money .moneyBox>p {
    margin-bottom: -18%;
  }

  .money .completedgif {
    @include maxWidth();
    @include flexCenter();
    padding-top: 60px;

  }

  .money .moneyBox p {
    margin-bottom: -200px;
  }

  .money .completedgif img {
    width: 50%;
  }

  #app .completed {
    background-color: rgb(255, 250, 231);
    width: 100%;
    height: 100%;
    position: fixed;
    padding-top: 60px;
    top: 0;
    z-index: 10;
  }
}