<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BOBIO|線上求籤</title>
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/onlinepomes5.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="js/header.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.js"></script>
</head>

<body>
    <header id="mainheader">
      <div class="headerWrap">
        <div class="logo">
          <a href="https://fenterchen.github.io/CFD103G1/mainpage.html">
            <img src="img/header/BOBIO_logo.svg" />
          </a>
        </div>
        <nav class="navPostion">
          <ul>
            <li>
              <a href="https://fenterchen.github.io/CFD103G1/pray">立即祈願</a>
            </li>
            <li>
              <a href="https://fenterchen.github.io/CFD103G1/onlinepomes">線上求籤</a>
            </li>
            <li>
              <a href="https://fenterchen.github.io/CFD103G1/amulet">平安符願</a>
            </li>
            <li>
              <a href="https://fenterchen.github.io/CFD103G1/money">立即結緣</a>
            </li>
            <li>
              <a href="https://fenterchen.github.io/CFD103G1/Abouts">關於我們</a>
            </li>
          </ul>
        </nav>
        <div class="cart">
          <a href="#"><img src="img/header/cart.svg" /></a>
        </div>
        <div class="member">
          <a href="https://fenterchen.github.io/CFD103G1/memberAdd"><img src="img/header/member.svg" /></a>
        </div>
        <div class="outerHb">
          <div class="hb" id="hb">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </header>

  <section>
    <div class="onlinepomesWrap">
      <div class="onlinePic">
        <img src="img/onlinepomes/lickbox1.png" alt="">
      </div> 
      <div class="onlineContent" id="app">
        <div class="onlineText" >
          <h2>{{believer}}，您抽到第{{pomesNum}}號籤</h2>
          <p>請誠心詢問擲出三個聖筊，<br>向神明確定籤意。</p>
        </div>
        <div class="throwPic" >
            <div class="throwPic">
              <div class="throwFirst">
                <p v-if="first == 1"><img src="./img/onlinepomes/throw.png" alt=""></p>
              </div>
              <!-- <div class="throwScond">
                <p v-if="second == 2"><img src="./img/onlinepomes/agree.png" alt=""></p><span>聖筊</span>
              </div>
              <div class="throwThird">
                <p v-else-if="third == 3"><img src="./img/onlinepomes/smile.png" alt=""></p><span>笑筊</span>
              </div> -->
            </div>
        </div>
        <div class="onlineBtn">
          <button @click="loadNum" class="throw"data-hover="擲筊" >擲筊</button>
        </div> 
        <div class="onlineNotice">
          <ol>
            <li>1.一事一籤。一件事情只能求取一支籤，不可以一籤求多事；求到籤詩後請休息5-10分鐘再請示下一件事。</li>
            <li>2.擲筊會出現三種情況：聖筊是一正一反，表示神明同意你的請求；笑筊是兩個平面向上表示神明在笑，並沒有表示同意；而陰筊則是平面朝下，表示請求駁回。</li>
          </ol>
        </div>
      </div>  
    </div>
  </section>
    <footer>
      <div class="footer-wrap">
        <div class="footer-logo">
          <img src="./img/header/BOBIO_logo.svg" alt="bobio" />
        </div>
        <div class="footer-slog">
          <span>用BOBIO就有保佑</span>
        </div>
        <div class="footer-info">
          <div class="list">
            <ul>
              <li>
                <a href="https://fenterchen.github.io/CFD103G1/pray">立即祈願</a>
              </li>
              <li>
                <a href="https://fenterchen.github.io/CFD103G1/onlinepomes">線上求籤</a>
              </li>
              <li>
                <a href="https://fenterchen.github.io/CFD103G1/amulet">平安符願</a>
              </li>
              <li>
                <a href="https://fenterchen.github.io/CFD103G1/money">立即結緣</a>
              </li>
              <li>
                <a href="https://fenterchen.github.io/CFD103G1/Abouts">關於我們</a>
              </li>
            </ul>
          </div>
          <div class="conn">
            <p>
              bobio@temple.com<br />
              02-1090-1090
            </p>
            <div class="info-icon">
              <a href="#"><img src="./img/footer/Group 415.svg" alt="facebook" /></a>
              <a href="#"><img src="./img/footer/Group 295.svg" alt="instagram" /></a>
              <a href="#"><img src="./img/footer/Group 296.svg" alt="youtube" /></a>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <p>
          Copyright © 2021Bobio
          本網站為緯育TibaMe_前端設計工程師班第71期學員專題成果作品，本平台僅供學習、展示之用。若有抵觸有關著作權，或有第三人主張侵害智慧財產權等情事，均由學員負法律上責任，緯育公司概不負責。若有侵權疑慮，您可以私訊[緯育TibaMe]，後續會由專人協助處理。
        </p>
      </div>
    </footer>
  <script>
    new Vue({
      el: '#app',
      data:{
        a:false,
        believer:'',
        pomesNum:0,
        start:'0',
        first:'1',
        second:'2',
        third:'3'
      },
      mounted() {
        this.believer = localStorage.onlinename;  
        this.pomesNum = localStorage.onlinedraw;   
      },
       methods: {
        loadNum: function () {
          let min = 1;
          let max = 4;
          let num = Math.floor(Math.random() * (max - min) + min);
          console.log(num);
          if (num == 1) {
             // alert("聖筊");
             location.href = "onlinepomes6.html";
           }
           //條件不成立
           if (num == 2) {
             // alert("蓋筊");
             location.href = "onlinepomes4-1.html";
           } if (num == 3) {
             // alert("笑筊");
             location.href = "onlinepomes4-1.html";
           }

          return this.type = num;
        },

      }
      })
  </script>
</body>  
</html>