@import 'base/var';
@import 'mixin/modules';

body{
  background: map-get($color, mainyellow);
}
.Finish{
  height: 695px;
  width: 100%;
  position: relative;
  @include tabletH(){
    height: 700px;
    &::before{
      content: '';
      width: 100%;
      height: 3px;
      background-color: map-get($color, lightbrown);
      position: absolute;
      z-index: -1;
      bottom: 250px;
    }
  }
}
.doneSec{
  @include flexCenter();
  flex-direction: column;
  padding-top: 120px;
  text-align: center;
  font-family: NotoSansTC, sans-serif;
  color: map-get($color, darkbrown);
  margin: auto;
  @include tabletH(){
    padding-top: 150px;
    flex-direction: row;
    max-width: $maxWidth;
    box-sizing: border-box;
    position: relative;
  }
  .prayCard{
    width: 100%;
    .cardDetail{
      width: 40%;
      img{
        width: 100%;
        vertical-align: top;
      }
    }
    @include tabletH(){
      width: 45%;
    }
  }
}
.doneTitle{
  margin-bottom: 77px;
  @include tabletH(){
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 5%;
    margin-bottom: 0;
  }
  .doneIntro{
    @include tabletH(){
      display: flex;
      align-self: flex-start;
      justify-content: flex-start;
    }
    .prayDoneWeb{
      display: none;
      @include tabletH(){
        display: block;
        font-size: map-get($fontSize, webh2);
        font-weight: map-get($fontWeight, titleWeight);
        line-height: 40px;
      }
    }
    .prayDonePhone{
      font-size: map-get($fontSize, webh2 );
      font-weight: map-get($fontWeight, titleWeight);
      line-height: 40px;
      @include tabletH(){
        display: none;
      }
    }
    .doneDetail{
      font-size: map-get($fontSize, weblp);
      font-weight: map-get($fontWeight, pWeight);
      line-height: 40px;
      margin-top: 15px;
      color: map-get($color, lightbrown);
      @include tabletH(){
        margin-left: 40px;
        margin-top: 0px;
        text-align: left;
      }
    }
  }
  .prayProcess{
    display: none;
    @include tabletH(){
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-top: 100px;
      color: #ffffff;
      font-weight: map-get($fontWeight, subTitleWeight);
      font-size: map-get($fontSize, weblp);
      position: relative;
      .step{  
        width: 106px;
        height: 106px;
        border-radius: 50%;
        background-color: map-get($color, lightbrown);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        line-height: 25px;
        @include flexCenter();
        position: relative;
        &::after{
          content: "";
          width: 125px;
          height: 125px;
          border-radius: 50%;
          position: absolute;
          background-color:rgba(146, 120, 88, 0.5); 
          z-index: -1;
        }
      }
      .prayDone{
        margin-right:80px;
      }
    }
  }
}
.goMainpage{
  display: flex;
  justify-content: center;
  margin: 68px auto 40px auto;
  @include tabletH(){
    justify-content: flex-end;
    max-width: $maxWidth;
  }
  button{
    @include btnlocal();
    font-family: NotoSansTC, sans-serif;
    font-size: map-get($fontSize, weblp);
    color: map-get($color, darkbrown);
    line-height: 26px;
  }
}
