<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BOBIO｜立即祈願</title>
  <link rel="stylesheet" href="css/header.css" />
  <link rel="stylesheet" href="css/pray.css" />
  <link rel="stylesheet" href="css/footer.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
</head>

<body>
  <header id="mainheader">
    <div class="headerWrap">
      <div class="logo">
        <a href="mainpage.html">
          <img src="img/header/BOBIO_logo.svg">
        </a>
      </div>
      <nav class="navPostion">
        <ul>
          <li>
            <div class="member"><a href="memberCenter.html"><img src="img/header/member.svg"></a></div>
            <div class="logout"><span v-text="losituation" @click="logout"></span></div>
          </li>
          <li>
            <a href="pray.html">立即祈願</a>
          </li>
          <li>
            <a href="onlinepomes.html">線上求籤</a>
          </li>
          <li>
            <a href="amulet.html">平安符願</a>
          </li>
          <li>
            <a href="money.html">立即結緣</a>
          </li>
          <li>
            <a href="Abouts.html">關於我們</a>
          </li>
        </ul>
      </nav>
      <div class="cart"><a href="shopping_cart1.html"><img src="img/header/cart.svg"></a></div>
      <div class="member"><a href="memberCenter.html"><img src="img/header/member.svg"></a></div>
      <div class="logout"><span v-text="losituation" @click="logout"></span></div>
      <div class="outerHb">
        <div class="hb" @click="hb">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </header>
  <div class="bobioPray" id="app">
    <component :is="section[currentIdx -1]" @offering="offer =$event" :offer="offer" :personaldata="personaldata"
      @plus-slides="plusSlides" @minus-slides="minusSlides" :cate="cate" :god="god" :focus-img="focusImg"
      :god-img="godImg" @update-cate="cate = $event" @update-god="god = $event" @add-slide="plusSlides(1)"
      :class="{fadeRight:rightActivated, fadeLeft:leftActivated}">
    </component>
    <div class="btnStep">
      <button class="btn previous" @click="minusSlides(1)">
        <img src="img/pray/preArrow.svg" alt="上一步" />
        <p class="previousStep">上一步</p>
      </button>
      <button class="btn next" @click="plusSlides(1)">
        <p class="nextStep">下一步</p>
        <img src="img/pray/nextArrow.svg" alt="下一步" />
      </button>
    </div>
    <div class="goMainpage">
      <button data-hover="返回首頁" @click="goHome">返回首頁</button>
    </div>
  </div>
  <footer>
    <div class="footer-wrap">
      <div class="footer-logo">
        <img src="./img/header/BOBIO_logo.svg" alt="bobio" />
      </div>
      <div class="footer-slog">
        <span>用BOBIO就有保佑</span>
      </div>
      <div class="footer-info">
        <div class="list">
          <ul>
            <li><a href="pray.html">立即祈願</a></li>
            <li><a href="onlinepomes.html">線上求籤</a></li>
            <li><a href="amulet.html">平安符願</a></li>
            <li><a href="money.html">立即結緣</a></li>
            <li><a href="Abouts.html">關於我們</a></li>
          </ul>
        </div>
        <div class="conn">
          <p>
            bobio@temple.com<br />
            02-1090-1090
          </p>
          <div class="info-icon">
            <a href="#"><img src="./img/footer/Group 415.svg" alt="facebook" /></a>
            <a href="#"><img src="./img/footer/Group 295.svg" alt="instagram" /></a>
            <a href="#"><img src="./img/footer/Group 296.svg" alt="youtube" /></a>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p>
        Copyright © 2021Bobio
        本網站為緯育TibaMe_前端設計工程師班第71期學員專題成果作品，本平台僅供學習、展示之用。若有抵觸有關著作權，或有第三人主張侵害智慧財產權等情事，均由學員負法律上責任，緯育公司概不負責。若有侵權疑慮，您可以私訊[緯育TibaMe]，後續會由專人協助處理。
      </p>
    </div>
  </footer>
  <script>
    Vue.component("pray", {
      props: ["cate", "focusImg", "godImg"],
      template: `
          <section class='section praySection'>
          <div class="pray">
            <p class="choose">請選擇</p>
            <h2 class="prayCate">祈願種類</h2>
            <div class="cateSectionPhone">
              <select name="cateTitle" class="select" v-model="cateModel">
                <option class="choosePhone" value="種類" selected disabled>種類</option>
                <option class="lovePhone" value="感情">感情</option>
                <option class="studyPhone" value="學業">學業</option>
                <option class="healthPhone" value="健康">健康</option>
                <option class="safetyPhone" value="平安">平安</option>
                <option class="wealthPhone" value="財富">財富</option>
                <option class="workPhone" value="事業">事業</option>
              </select>
            </div>
            <div class="prayImg">
              <img :src="focusImg" alt="月老">
            </div>
            <p class="godRepresent">掌管神明</p>
            <h3 class="godTitle">掌管神明</h3>
            <button class="prayNow" data-hover="開始祈願" @click="$emit('add-slide')">開始祈願</button>
          </div>
          <div class="cateSectionWeb">
            <div class="cate love" @mouseout="loveMouseOut" @mouseover="loveMouseOver" @click="loveClick">
              <img src="img/pray/love.svg" alt="感情">
              <p class="cateTitle">感情</p>
            </div>
            <div class="cate study" @mouseout="studyMouseOut" @mouseover="studyMouseOver" @click="studyClick">
              <img src="img/pray/study.svg" alt="學業">
              <p class="cateTitle">學業</p>
            </div>
            <div class="cate health" @mouseout="healthMouseOut" @mouseover="healthMouseOver" @click="healthClick">
              <img src="img/pray/health.svg" alt="健康">
              <p class="cateTitle">健康</p>
            </div>
            <div class="cate safety" @mouseout="safetyMouseOut" @mouseover="safetyMouseOver" @click="safetyClick">
              <img src="img/pray/safety.svg" alt="平安">
              <p class="cateTitle">平安</p>
            </div>
            <div class="cate wealth" @mouseout="wealthMouseOut" @mouseover="wealthMouseOver" @click="wealthClick">
              <img src="img/pray/wealth.svg" alt="財富">
              <p class="cateTitle">財富</p>
            </div>
            <div class="cate work" @mouseout="workMouseOut" @mouseover="workMouseOver" @click="workClick">
              <img src="img/pray/work.svg" alt="事業">
              <p class="cateTitle">事業</p>
            </div>
          </div>
        </section>
      `,
      computed: {
        cateModel: {
          get() {
            return this.cate;
          },
          set(value) {
            this.$emit("update-cate", value);
            this.$emit("update-god", value);
          },
        },
      },
      methods: {
        loveMouseOver() {
          $(".love").css("background-color", "#FDBF52");
          $(".prayImg img").attr("src", "img/pray/loveGod.png");
          $(".godTitle").text("月老");
          $(".love>.cateTitle").css("color", "#573605");
          $(".love img").attr("src", "img/pray/loveBrown.svg");
        },
        loveMouseOut() {
          $(".love").css("background-color", "#927858");
          $(".prayImg img").attr("src", "img/pray/unknownGod.png");
          $(".godTitle").text("祈願神明");
          $(".love>.cateTitle").css("color", "#ffffff");
          $(".love img").attr("src", "img/pray/love.svg");
        },
        loveClick() {
          let godimg = $(".prayGod");
          godimg.css("transform", "translateX(43px);");
          this.$emit("plus-slides", 1);
          this.$emit("update-god", "感情");
          this.$emit("update-cate", "感情");
        },
        studyMouseOver() {
          $(".study").css("background-color", "#FDBF52");
          $(".prayImg img").attr("src", "img/pray/studyGod.png");
          $(".godTitle").text("文昌帝君");
          $(".study>.cateTitle").css("color", "#573605");
          $(".study img").attr("src", "img/pray/studyBrown.svg");
        },
        studyMouseOut() {
          $(".study").css("background-color", "#927858");
          $(".prayImg img").attr("src", "img/pray/unknownGod.png");
          $(".godTitle").text("祈願神明");
          $(".study>.cateTitle").css("color", "#ffffff");
          $(".study img").attr("src", "img/pray/study.svg");
        },
        studyClick() {
          let godimg = $(".prayGod");
          godimg.css("transform", "translateX(20px);");
          this.$emit("plus-slides", 1);
          this.$emit("update-god", "學業");
          this.$emit("update-cate", "學業");
        },
        healthMouseOver() {
          $(".health").css("background-color", "#FDBF52");
          $(".prayImg img").attr("src", "img/pray/healthGod.png");
          $(".godTitle").text("保生大帝");
          $(".health>.cateTitle").css("color", "#573605");
          $(".health img").attr("src", "img/pray/healthBrown.svg");
        },
        healthMouseOut() {
          $(".health").css("background-color", "#927858");
          $(".prayImg img").attr("src", "img/pray/unknownGod.png");
          $(".godTitle").text("祈願神明");
          $(".health>.cateTitle").css("color", "#ffffff");
          $(".health img").attr("src", "img/pray/health.svg");
        },
        healthClick() {
          let godimg = $(".prayGod");
          godimg.css("transform", "translateX(38px);");
          this.$emit("plus-slides", 1);
          this.$emit("update-god", "健康");
          this.$emit("update-cate", "健康");
        },
        safetyMouseOver() {
          $(".safety").css("background-color", "#FDBF52");
          $(".prayImg img").attr("src", "img/pray/safetyGod.png");
          $(".godTitle").text("媽祖");
          $(".safety>.cateTitle").css("color", "#573605");
          $(".safety img").attr("src", "img/pray/safetyBrown.svg");
        },
        safetyMouseOut() {
          $(".safety").css("background-color", "#927858");
          $(".prayImg img").attr("src", "img/pray/unknownGod.png");
          $(".godTitle").text("祈願神明");
          $(".safety>.cateTitle").css("color", "#ffffff");
          $(".safety img").attr("src", "img/pray/safety.svg");
        },
        safetyClick() {
          let godimg = $(".prayGod");
          godimg.css("transform", "translateX(38px);");
          this.$emit("plus-slides", 1);
          this.$emit("update-god", "平安");
          this.$emit("update-cate", "平安");
        },
        wealthMouseOver() {
          $(".wealth").css("background-color", "#FDBF52");
          $(".prayImg img").attr("src", "img/pray/moneyGod.png");
          $(".godTitle").text("財神");
          $(".wealth>.cateTitle").css("color", "#573605");
          $(".wealth img").attr("src", "img/pray/moneyBrown.svg");
        },
        wealthMouseOut() {
          $(".wealth").css("background-color", "#927858");
          $(".prayImg img").attr("src", "img/pray/unknownGod.png");
          $(".godTitle").text("祈願神明");
          $(".wealth>.cateTitle").css("color", "#ffffff");
          $(".wealth img").attr("src", "img/pray/wealth.svg");
        },
        wealthClick() {
          let godimg = $(".prayGod");
          godimg.css("transform", "translateX(20px);");
          this.$emit("plus-slides", 1);
          this.$emit("update-god", "財富");
          this.$emit("update-cate", "財富");
        },
        workMouseOver() {
          $(".work").css("background-color", "#FDBF52");
          $(".prayImg img").attr("src", "img/pray/workGod.png");
          $(".godTitle").text("關公");
          $(".work>.cateTitle").css("color", "#573605");
          $(".work img").attr("src", "img/pray/workBrown.svg");
        },
        workMouseOut() {
          $(".work").css("background-color", "#927858");
          $(".prayImg img").attr("src", "img/pray/unknownGod.png");
          $(".godTitle").text("祈願神明");
          $(".work>.cateTitle").css("color", "#ffffff");
          $(".work img").attr("src", "img/pray/work.svg");
        },
        workClick() {
          let godimg = $(".prayGod");
          godimg.css("transform", "translateX(38px);");
          this.$emit("plus-slides", 1);
          this.$emit("update-god", "事業");
          this.$emit("update-cate", "事業");
        },
      },
    });
    Vue.component("prayintro", {
      props: ["focusImg", "god", "godImg"],
      template: `
          <section class="section prayIntro">
          <div class="mainSec">
            <div class="prayGod">
              <img id="godDisplay" :src="godImg" alt="月老">
            </div>
            <div class="prayTitle">
              <div class="prayMethod">
                <h2 class="methodWeb">祈願<br>方法</h2>
                <h2 class="methodPhone">祈願方法</h2>
                <p class="detailWeb">請在心中默念您的名字、欲祈求之事項。<br>完成後請點選下一步。</p>
                <p class="detailPhone">請在心中默念您的名字、<br>欲祈求之事項。<br>完成後請點選下一步。</p>
              </div>
              <div class="praySteps">
                <p class="step chooseAttr" @click="plusSlides">選擇<br>供品</p>
                <p class=" step prayStart">默念<br>拜拜</p>
                <p class="step prayDone">完成<br>祈願</p>
              </div>
            </div>
          </div>
        </section>
      `,
      computed: {
        godModel: {
          get() {
            return this.god;
          },
          set(value) {
            this.$emit("update-god", value);
            this.$emit("update-cate", value);
          },
        },
        // imgWithDifWidth() {
        //   return window.innerWidth < 1024 ? this.focusImg : this.godImg
        // },
      },
      methods: {
        plusSlides() {
          this.$emit("plus-slides", 1);
        },
      },
    });
    Vue.component("prayattr", {
      data() {
        return {
          offering: [],
          cont: [],
        }
      },
      created() {
        axios.post('backweb/phps/offering.php', {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        }).then((res) => {
          this.offering = res.data;
          for (let i = 0; i < this.offering.length; i++) {
            let arr = this.offering[i].off_cont.split(',');
            this.cont.push(arr);
          }
        }
        ).catch(function (error) {
          console.log(error);
        })
      },
      template: `
          <section class="section attrIntro">
          <div class="attrSec">
            <div class="stepMethod" @click="minusSlides">
              <p class=" step prayWay">祈願<br>方法</p>
            </div>
            <div class="chooseAttr">
              <div class="attr meat">
                <h2 v-if="offering[0]">{{offering[0].off_name}}</h2>
                <div class="detail">
                  <p v-if="cont[0]">{{cont[0][0]}}<br>{{cont[0][1]}}<br>{{cont[0][2]}}</p>
                  <button class="choose" data-hover="選擇" @click="plusSlides1">選擇</button>
                </div>
              </div>
              <div class="attr fruit">
                <h2 v-if="offering[1]">{{offering[1].off_name}}</h2>
                <div class="detail">
                  <p v-if="cont[1]">{{cont[1][0]}}<br>{{cont[1][1]}}<br>{{cont[1][2]}}</p>
                  <button class="choose" data-hover="選擇" @click="plusSlides2">選擇</button>
                </div>
              </div>
              <div class="attr sweet">
                <h2 v-if="offering[2]">{{offering[2].off_name}}</h2>
                <div class="detail">
                  <p v-if="cont[2]">{{cont[2][0]}}<br>{{cont[2][1]}}<br>{{cont[2][2]}}</p>
                  <button class="choose" data-hover="選擇" @click="plusSlides3">選擇</button>
                </div>
              </div>
            </div>
            <div class="attrTitle">
              <div class="attrChoices">
                <h2 class="choicesWeb">選擇<br>供品</h2>
                <h2 class="choicesPhone">選擇供品</h2>
                <p class="choicesDetail">請選擇欲提供之供品。<br>完成後請點選下一步。</p>
              </div>
              <div class="chooseSteps">
                <p class=" step prayStart">默念<br>拜拜</p>
                <p class="step prayDone">完成<br>祈願</p>
              </div>
            </div>
          </div>
        </section>
      `,
      methods: {
        plusSlides1() {
          this.$emit("plus-slides", 1);
          this.$emit("offering", 1);
        },
        plusSlides2() {
          this.$emit("plus-slides", 1);
          this.$emit("offering", 2);
        },
        plusSlides3() {
          this.$emit("plus-slides", 1);
          this.$emit("offering", 3);
        },
        minusSlides() {
          this.$emit("minus-slides", 1);
        },
      },
    });
    Vue.component("praystart", {
      template: `
          <section class="section byeBye">
          <div class="byeSec">
            <div class="byeTitle">
              <div class="byeChoices">
                <h2 class="byeByeWeb">默念<br>拜拜</h2>
                <h2 class="byeByePhone">默念拜拜</h2>
                <p class="byeByeDetail">請雙手合十，進行叩拜。<br>完成後請點選下一步。</p>
              </div>
              <div class="byeByeProcess">
                <p class="step prayStart">祈願<br>方法</p>
                <p class="step prayDone" @click="minusSlides">選擇<br>貢品</p>
              </div>
            </div>
            <div class="byeByeAnimation">
              <img src="img/pray/bobioAnimation.gif" alt="默念拜拜">
            </div>
            <div class="lastStep" @click="plusSlides">
              <p class="step prayDone">完成<br>祈願</p>
            </div>
          </div>
        </section>
      `,
      methods: {
        plusSlides() {
          this.$emit("plus-slides", 1);
        },
        minusSlides() {
          this.$emit("minus-slides", 1);
        },
      },
    });
    Vue.component("praydone", {
      props: ["cate", "offer", "personaldata"],
      data() {
        return {
          situation: '',
          card: [],
          cardimg: '',
          card_no: '',
        }
      },
      created() {
        axios.post('backweb/phps/praycard.php', {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        }).then((res) => {
          this.card = res.data;
          this.situation = this.cate;
        }
        ).catch(function (error) {
          console.log(error);
        })
      },
      watch: {
        card() {
          if (this.situation == "學業") {
            let min = 9;
            let max = 12;
            var ran = Math.floor(Math.random() * (max - min) + min);
          } else if (this.situation == "健康") {
            let min = 3;
            let max = 6;
            var ran = Math.floor(Math.random() * (max - min) + min);
          } else if (this.situation == "平安") {
            let min = 6;
            let max = 9;
            var ran = Math.floor(Math.random() * (max - min) + min);
          } else if (this.situation == "財富") {
            let min = 12;
            let max = 15;
            var ran = Math.floor(Math.random() * (max - min) + min);
          } else if (this.situation == "事業") {
            let min = 15;
            let max = 18;
            var ran = Math.floor(Math.random() * (max - min) + min);
          } else if (this.situation == "感情") {
            let min = 0;
            let max = 3;
            var ran = Math.floor(Math.random() * (max - min) + min);
          }
          this.cardimg = "backweb/" + this.card[ran].card_cont + ".png";
          this.card_no = this.card[ran].card_no;
        }
      },
      updated() {
        var m = new Date();
        var addtime =
          m.getFullYear() +
          "-" +
          (m.getMonth() + 1) +
          "-" +
          m.getDate() +
          " " +
          m.getHours() +
          ":" +
          m.getMinutes() +
          ":" +
          m.getSeconds();
        if (this.personaldata.length != 0 && this.offer != '' && this.card_no != '') {
          axios.post('phps/prayAdd.php', {
            mem_no: this.personaldata.mem_no,
            off_no: this.offer,
            card_no: this.card_no,
            pray_date: addtime,
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          }).then((res) => {

          }
          ).catch(function (error) {
            console.log(error);
          })
        }

      },
      template: `
          <section class="section Finish">
          <div class="doneSec">
            <div class="doneTitle">
              <div class="doneIntro">
                <h2 class="prayDoneWeb">完成<br>祈願</h2>
                <h2 class="prayDonePhone">祈願</h2>
                <p class="doneDetail">本次祈願步驟已完成。<br>另贈與雞湯小卡一張，庇佑您心想事成。</p>
              </div>
              <div class="prayProcess">
                <p class="step prayMethod">祈願<br>方法</p>
                <p class="step chooseAttr">選擇<br>貢品</p>
                <p class="step prayDone">完成<br>祈願</p>
              </div>
            </div>
            <div class="prayCard">
              <div class="cradDetail">
                <img :src="cardimg" alt="雞湯小卡">
              </div>
            </div>
          </div>
        </section>
      `,
      methods: {},
    });
    //header 
    new Vue({
      el: '#mainheader',
      data() {
        return {
          screenWidth: null,
          personaldata: [],
          losituation: "",
        }
      },
      created() {
        this.screenWidth = document.body.clientWidth;//營幕寬
        //以下讀取會員資料
        let array = JSON.parse(localStorage.getItem('personallogin'));//抓localStorage存入變數
        this.losituation = null;//登入登出狀態
        if (array != null) {
          axios.post('phps/memberExist.php', {
            mem_no: array[0].mem_no,
            mem_id: array[0].mem_id,
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          }).then((res) => {
            if (res) {
              this.losituation = "登出";//登入登出狀態
              this.personaldata = res.data[0];
            }
          }).catch(error => console.log(error));
        };
        //以上讀取會員資料
        window.onresize = () => {
          return (() => {
            this.screenWidth = document.body.clientWidth;
          })()
        }
        $(`header .headerWrap ul li:nth-child(2) a`).addClass('bottomnavline');
      },
      watch: {
        screenWidth: {
          handler: function (newval, oldval) {
            if (newval >= 1200) {
              $(`header>.headerWrap>nav`).removeClass('navPostion');
              $(`header>.headerWrap>nav li:first-child`).css('display', 'none');
              $(`header>.headerWrap>.member`).css('display', 'flex');
              $(`header>.headerWrap>.logout`).css('display', 'block');
            } else if (newval < 1200) {
              $(`header>.headerWrap>nav`).addClass('navPostion');
              $(`header>.headerWrap>nav li:first-child`).css('display', 'flex');
              $(`header>.headerWrap>.member`).css('display', 'none');
              $(`header>.headerWrap>.logout`).css('display', 'none');
            }
          },
          immediate: true,
        }
      },
      methods: {
        hb() {
          let place = $("nav").css("right");
          if (place < "0px") {
            $("nav").animate({
              right: 0,
            }, 1200, 'easeInBounce')
          } else {
            $("nav").animate({
              right: "-30%",
            }, 1200, 'easeOutBounce')
          }
        },
        logout() {
          localStorage.removeItem('personallogin');
          location.href = "mainpage.html";
        },
      },
    });
    new Vue({
      el: "#app",
      data: {
        offer: '',
        personaldata: [],
        currentIdx: 1,
        section: ["pray", "prayintro", "prayattr", "praystart", "praydone"],
        cate: "種類",
        god: "",
        leftActivated: false,
        rightActivated: false,
        imgList: [
          { key: "種類", img: "img/pray/unknownGod.png" },
          { key: "學業", img: "img/pray/studyGod.png" },
          { key: "健康", img: "img/pray/healthGod.png" },
          { key: "平安", img: "img/pray/safetyGod.png" },
          { key: "財富", img: "img/pray/moneyGod.png" },
          { key: "事業", img: "img/pray/workGod.png" },
          { key: "感情", img: "img/pray/loveGod.png" },
        ],
        godList: [
          { key: "學業", img: "img/pray/studyGodShadow.png" },
          { key: "健康", img: "img/pray/healthGodShadow.png" },
          { key: "平安", img: "img/pray/safetyGodShadow.png" },
          { key: "財富", img: "img/pray/moneyGodShadow.png" },
          { key: "事業", img: "img/pray/workGodShadow.png" },
          { key: "感情", img: "img/pray/loveGodShadow.png" },
        ],
      },
      computed: {
        focusImg() {
          const focusObj = this.imgList.find((item) => item.key == this.cate);
          return focusObj?.img || "img/pray/unknownGod.png";
        },
        godImg() {
          const focusObj = this.godList.find((item) => item.key == this.god);
          return focusObj?.img || "img/pray/unknownGod.png";
        },
      },
      created() {
        let array = JSON.parse(localStorage.getItem('personallogin'));//抓localStorage存入變數
        if (array != null) {
          axios.post('phps/memberExbody.php', {
            mem_no: array[0].mem_no,
            mem_id: array[0].mem_id,
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          }).then((res) => {
            this.personaldata = res.data[0];
          }).catch(error => console.log(error));
        };
      },
      watch: {
        currentIdx() {
          this.btnHandler();
        },
      },
      methods: {
        goHome() {
          location.href = "mainpage.html";
        },
        plusSlides(n) {
          this.currentIdx += n;
          this.rightActivated = false;
          this.leftActivated = true;
        },
        minusSlides(n) {
          this.currentIdx -= n;
          this.rightActivated = true;
          this.leftActivated = false;
        },
        currentSlide(n) {
          this.showSlides((this.currentIdx = n));
        },
        btnHandler() {
          if (this.currentIdx == 1) {
            $(".btnStep").css("display", "none");
            $(".goMainpage").css("display", "none");
            $(".bobioPray").addClass("no-line");
          } else if (this.currentIdx >= 5) {
            $(".btnStep").css("display", "none");
            $(".goMainpage").css("display", "flex");
            $(".bobioPray").removeClass("no-line");
          } else if (this.currentIdx == 3) {
            $(".next").css("opacity", "0");
          } else {
            $(".btnStep").css("display", "flex");
            $(".goMainpage").css("display", "none");
            $(".bobioPray").removeClass("no-line");
            $(".next").css("opacity", "1");
          }
        },
      },
      mounted() {
        this.btnHandler();
      },
    });

  </script>
</body>

</html>