@import 'base/var';
@import 'mixin/modules';

body{
  background: map-get($color, mainyellow);
}
.prayIntro{
  height: 735px;
  width: 100%;
  position: relative;
  @include tabletH(){
    height: 760px;
    &::before{
      content: '';
      width: 100%;
      height: 3px;
      background-color: map-get($color, lightbrown);
      position: absolute;
      z-index: -1;
      @include tabletH(){
        bottom: 300px;
      }
    }
  }
}
.mainSec{
  width: 100%;
  @include flexCenter();
  flex-direction: column-reverse;
  padding-top: 120px;
  text-align: center;
  font-family: NotoSansTC, sans-serif;
  color: map-get($color, darkbrown);
  margin: auto;
  @include tabletH(){
    flex-direction: row;
    max-width: $maxWidth;
    margin: auto;
    position: relative;
  }
  .praySteps{
    display: none;
    @include tabletH(){
      display: block;
    }
  }
  .prayGod{
    // transform: translate(-45px, 0px);
    @include tabletH(){
      width: 50%;
      background-color: #fff;
    }
    img{
      width: 100%;
      vertical-align: top;
    }
  }
  .prayTitle{
    @include tabletH(){
      height: 300px;
      margin-left: 5%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
    }
    .prayMethod{
      @include tabletH(){
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }
    .methodWeb{
      display: none;
      @include tabletH(){
        display: block;
        font-size: map-get($fontSize, webh2 );
        font-weight: map-get($fontWeight, titleWeight);
        line-height: 40px;
      }
    }
    .methodPhone{
      font-size: map-get($fontSize, webh2 );
      font-weight: map-get($fontWeight, titleWeight);
      line-height: 40px;
      @include tabletH(){
        display: none;
      }
    }
    .detailWeb{
      display: none;
      @include tabletH(){
        display: block;
        text-align: left;
        font-size: map-get($fontSize, weblp);
        font-weight: map-get($fontWeight, pWeight);
        line-height: 40px;
        margin: 0px 0px 0px 40px;
        color: map-get($color, lightbrown);
      }
    }
    .detailPhone{
      font-size: map-get($fontSize, weblp);
      font-weight: map-get($fontWeight, pWeight);
      line-height: 40px;
      margin: 15px 0 60px 0;
      color: map-get($color, lightbrown);
      @include tabletH(){
        display: none;
      }
    }
    .praySteps{
      @include tabletH(){
        width: 100%;
        display: flex;
        // margin-top: 150px;
        color: #ffffff;
        font-weight: map-get($fontWeight, subTitleWeight);
        font-size: map-get($fontSize, weblp);
        position: relative;
      }
      .step{  
        width: 106px;
        height: 106px;
        border-radius: 50%;
        background-color: map-get($color, lightbrown);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        line-height: 25px;
        @include flexCenter();
        position: relative;
        &::after{
          content: "";
          width: 125px;
          height: 125px;
          border-radius: 50%;
          position: absolute;
          background-color:rgba(146, 120, 88, 0.5); 
          z-index: -1;
        }
      }
      .prayStart{
        margin: 0 80px;
      }
    }
  }
}
.steps{
  display: flex;
  justify-content: space-between;
  margin: 70px 20px 50px 20px;
  max-width: $maxWidth;
  @include laptop(){
    margin: 70px auto 50px auto;
  }
  .btn{
    cursor: pointer;
    @include tabletH(){
      display: flex;
      align-items: center;
    }
    p{
      display: none;
      @include tabletH(){
        display: inline-block;
        line-height: 26px;
        font-family: NotoSansTC, sans-serif;
        font-size: map-get($fontSize, weblp);
        color: map-get($color, darkbrown);;
        padding: 0 10px;
      }
    }
  }
}
.attrIntro{
  height: 735px;
  width: 100%;
  position: relative;
  @include tabletH(){
    height: 760px;
    &::before{
      content: '';
      width: 100%;
      height: 3px;
      background-color: map-get($color, lightbrown);
      position: absolute;
      z-index: -1;
      bottom: 260px;
      @include laptop(){
        bottom: 245px;
      }
    }
  }
}
.attrSec{
  @include flexCenter();
  flex-direction: column-reverse;
  padding-top: 120px;
  text-align: center;
  font-family: NotoSansTC, sans-serif;
  color: map-get($color, darkbrown);
  margin: auto;
  @include tabletH(){
    flex-direction: row;
    max-width: $maxWidth;
    padding: 166px 50px 0 50px;
    position: relative;
  }
  .chooseAttr{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    transform: translateY(-50px);
    @include tabletH(){
      width: 50%;
    }
    .attr{
      @include flexCenter();
      flex-direction: column;
      h2{
        font-size: map-get($fontSize, weblp);
        font-weight: map-get($fontWeight, subTitleWeight);
        line-height: 26px;
        letter-spacing: 0.05em;
        margin: 87px 0 60px 0;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: map-get($color, orange);
        position: relative;
        z-index: 3;
        @include tabletV(){
          width: 120px;
          height: 120px;
          font-size: map-get($fontSize, webp);
        }
        @include laptop(){
          width: 150px;
          height: 150px;
        };
        @include flexCenter();
        &::before{
          content: "";
          width: 75px;
          height: 75px;
          border-radius: 50%;
          background: map-get($color, mainyellow);
          position: absolute;
          z-index: -1;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          @include tabletV(){
            width: 105px;
            height: 105px;
          }
          @include laptop(){
            width: 125px;
            height: 125px;
          }
        }
        &::after{
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 15px 12px 0 12px;
          border-color: #FDBF52 transparent transparent transparent;
          position: absolute;
          z-index: -2;
          bottom: -10px;
        }
      }
      .detail{
        width: 100px;
        height: 180px;
        background: #FCDBA3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        position: relative;
        @include tabletV(){
          width: 130px;
          height: 210px;
        }
        &::before{
          content: "";
          width: 12px;
          height: 12px;
          border-radius: 50%;
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          top: 20px;
          background: #FFFAE7;
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        } 
        &::after{
          content: "";
          width: 2px;
          height: 75px;
          border-radius: 2px;
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          top: -54px;
          background: map-get($color, orange);
        } 
        p{
          font-size: 14px;
          line-height: 20px;
          padding-top: 50px; 
          @include tabletV(){
            padding-top: 70px;
          } 
        }
        .choose{
          @include btnChoose();
          margin: 10px 0 20px 0;
          font-size: 14px;
          line-height: 20px;
          cursor: pointer;
          color: transparent;
          position : relative;
			    backface-visibility : hidden;
          @include laptop(){
            margin: 25px 0 20px 0;
          }
          &:hover{
            &::before{
              opacity : 1;
              margin-top : 0;
            }
          }
          &:hover{
            &::after{
              opacity : 0;
              margin-top : -1em;
            }
          }
          &::before{
            content : attr(data-hover);
            width : 100%;
            position : absolute;
            top : 0;
            left : 0px;
            padding-top: 12px;
            transition : 0.3s; 
            opacity : 0;
            color : rgba(255,255,255,0.9);
            margin-top: -1em;
          }
          &::after{
            content : attr(data-hover);
            width : 100%;
            position : absolute;
            top : 0;
            left: 0;
            padding-top: 12px;
            opacity : 1;
            transition : 0.3s; 
            color : map-get($color, darkbrown);
          }
        }
      }
    }
  }
  .praySteps{
    display: none;
    @include tabletH(){
      display: block;
    }
  }
  .stepMethod{
    display: none;
    @include tabletH(){
      display: block;
      width: 18%;
      display: flex;
      align-items: flex-start;
      margin-top: 100px;
      color: #ffffff;
      margin-left: 3%;
      font-weight: map-get($fontWeight, subTitleWeight);
      font-size: map-get($fontSize, weblp);
      position: relative;
      background-color: #fff;
      .step{  
        width: 106px;
        height: 106px;
        border-radius: 50%;
        background-color: map-get($color, lightbrown);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        line-height: 25px;
        @include flexCenter();
        position: relative;
        bottom: -40px;
        &::after{
          content: "";
          width: 125px;
          height: 125px;
          border-radius: 50%;
          position: absolute;
          background-color:rgba(146, 120, 88, 0.5); 
          z-index: -1;
        }
      }
    }
  }
}
.attrTitle{
  @include tabletH(){
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 5%;
  }
  .attrChoices{
    @include tabletH(){
      display: flex;
      align-self: flex-start;
      justify-content: flex-start;
    }
    .choicesWeb{
      display: none;
      @include tabletH(){
        display: block;
        font-size: map-get($fontSize, webh2);
        font-weight: map-get($fontWeight, titleWeight);
        line-height: 40px;
      }
    }
    .choicesPhone{
      font-size: map-get($fontSize, webh2 );
      font-weight: map-get($fontWeight, titleWeight);
      line-height: 40px;
      @include tabletH(){
        display: none;
      }
    }
    .choicesDetail{
      font-size: map-get($fontSize, weblp);
      font-weight: map-get($fontWeight, pWeight);
      line-height: 40px;
      margin-top: 15px;
      color: map-get($color, lightbrown);
      @include tabletH(){
        margin-left: 40px;
        margin-top: 0px;
      }
    }
  }
  .chooseSteps{
    display: none;
    @include tabletH(){
      width: 100%;
      display: flex;
      align-items: flex-start;
      margin-top: 100px;
      color: #ffffff;
      font-weight: map-get($fontWeight, subTitleWeight);
      font-size: map-get($fontSize, weblp);
      position: relative;
      .step{  
        width: 106px;
        height: 106px;
        border-radius: 50%;
        background-color: map-get($color, lightbrown);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        line-height: 25px;
        @include flexCenter();
        position: relative;
        &::after{
          content: "";
          width: 125px;
          height: 125px;
          border-radius: 50%;
          position: absolute;
          background-color:rgba(146, 120, 88, 0.5); 
          z-index: -1;
        }
      }
      .prayStart{
        margin-right:80px;
      }
    }
  }
}