@import 'base/var';
@import 'mixin/modules';

body {
    background: map-get($color, mainyellow);
}

.process {
    display: flex;
    margin: 80px auto;
}

.step {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step:first-child .num {
    background-color: map-get($color, darkbrown);
}

.step:first-child .state {
    color: map-get($color, darkbrown);
}

.step .num {
    width: 16px;
    height: 16px;
    font-size: 10px;
    color: map-get($color, mainyellow);
    line-height: 16px;
    background-color: #D0B38F;
    border-radius: 50%;
    text-align: center;
}

.step .state {
    font-size: map-get($fontSize, weblp);
    color: #D0B38F;
    margin-top: 10px;
}


.wrap {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

table {
    font-size: map-get($fontSize, weblp);
    color: map-get($color, darkbrown);
    line-height: 180%;
    border: 1px map-get($color, darkbrown) solid;
    border-collapse: separate;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 50px;
    overflow: hidden;
}

thead td {
    background-color: map-get($color, orange);
    height: 50px;
    vertical-align: middle;
}

thead td:first-child {
    border-radius: 20px 0 0 0;

}

thead td:last-child {
    border-radius: 0 20px 0 0;
}

tr {
    vertical-align: middle;
}

tbody {
    background-color: #fff;
}

tbody td {
    height: 200px;
    vertical-align: middle;
}

tbody td:first-child {
    border-radius: 0 0 0 20px;
}

tbody td:nth-child(2) {
    text-align: left;
    padding-left: 3%;
}



tbody td:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 20px 0;
    // border-right: map-get($color, darkbrown)solid 1px;
}

.trush {
    margin-left: 30%;
    margin-right: 50%;
}






.type {
    font-size: 16px;
    margin: 10px 0;
}

.count {
    font-size: 16px;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.modify {
    font-size: 24px;
    color: map-get($color, darkbrown);
    background-color: #fff;
    border: none;
}

.amount {
    color: map-get($color, darkbrown);
    width: 50px;
    height: 30px;
    border-radius: 16px;
    border: 1px #573605 solid;
    text-align: center;
}

.del {
    width: 15px;
    margin-left: 15px;
}


.total {
    width: 48%;
    max-width: 250px;
    margin-left: auto;
}

.total .item:nth-child(3) {
    padding-bottom: 10px;
    border-bottom: 2px #573605 solid;
}

.total .item:last-child {
    font-weight: 600;
}


.item {
    font-size: 16px;
    color: map-get($color, darkbrown);
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.btn input {
    @include btnlocal();
}

.btn {
    margin: 30px 0 100px 0;
    margin-left: auto;
}


//RWD
@media screen and (max-width: 767px) {
    .step .state {
        font-size: map-get($fontSize, minifont);
    }

    .lgTable thead {
        display: none;
    }

    table {
        border: none;
    }

   
    .lgTable tr {
        display: block;
        border: map-get($color, darkbrown)solid 1px;
        border-radius: 20px;
        border-collapse: separate;
    }

    .lgTable td {
        display: block;
        height: 45px;
        text-align: left;
    }

    .lgTable td:before {
        content: attr(dataTitle);
    }

    .lgTable td:first-child {
        background-color: map-get($color, orange);
        height: 40px;
        line-height: 40px;
        border-radius: 20px 20px 0 0;
        padding-left: 30px;
    }

    .lgTable td:nth-child(2) {
        display: flex;
        padding-top: 40px;
    }

    .lgTable td:nth-child(3) {
        text-align: left;
        padding-left: 157px;
        padding-top: 25px;
        line-height: 71px;
    }

    .lgTable td:nth-child(4) {
        text-align: left;
        padding-left: 150px;
    }

    .lgTable td:nth-child(5) {
        display: none;
    }

    .pic {
        display: none;
    }

    .picMd {
        margin: 0 35px 0 10px;
    }

    .many {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 200px;
    }

    .trushMd {
        margin-top: 10px;
        margin-right: 15px;
        padding-left: 30px
    }

    .trush {
        display: none;
    }

    .prodTitle{
        line-height:31px;
    }

   





}





@include tabletV() {
    .trushMd {
        display: none;
    }

    .picMd {
        display: none;
    }



}


@include tabletH() {
    section {
        @include maxWidth();
    }
}